$icon-font-path: '../fonts/';

@import "_includs";


.associate-card-page {
   
    .content-wrap {
        margin-top: 0;
    }

    .dz-clickable {
        max-width: 305px;
        height: 300px;
        overflow: hidden;

        
    }

    .dz-image  {
        height: 300px;
    }
}

