$icon-font-path: '../fonts/';

@import "_includs";

.button {
    font-size: 1em;
    font-weight: 700;
    border: none;
    padding: 10px 25px;
    position: relative;
    white-space: nowrap;

    &.min {
        font-size: 12px;
        padding: 6px 15px;
    }

   
   

    &.green {
        background: $green;
        border: 2px solid $green;
        color: #fff;  
        
        &:hover {
            background: $blue;
            border: 2px solid $blue;
        }
		}
		
		&.blue-btn {
			background: #2a7ebc;
			border: 2px solid #2a7ebc;
			color: #fff;  
			
			&:hover {
					background: $green;
					border: 2px solid $green;
			}
	}

    &.green-border {
        border: 2px solid $green;
        color: $green;
        background: transparent;

        &:hover {
            background: $green;
            color: #fff;
        }
		}
		
		&.red-border {
			background: transparent;
			border: 2px solid $red;
			color: $red;

			&:hover {
					background: $red;
					color: #fff;
			}
	}

    &.red {
        background: $red;
        border: 2px solid $red;
        color: #fff;  
        
        &:hover {
            background: rgba(236, 28, 25, 0.5);
            border: 2px solid rgba(236, 28, 25, 0.5);
        }
    }


    &.blue {
        background: $blue;        
        color: #fff;
        border:  2px solid $blue;

        &:hover {
            background: rgba(59, 89, 152, 0.8);
            border:  2px solid rgba(59, 89, 152, 0.8);
        }
    }

    &.braun {
        background: $braun-bg;
        color: #fff;
        border: 2px solid $braun-bg;

        &:hover {
            background: rgba(55, 55, 55, 0.8);
            border: 2px solid rgba(55, 55, 55, 0.8);           
        }
    }

    &.light-braun {
        background: #737373;
        color: #fff;
        border: none;

        &:hover {
            background: $braun-bg;
            border: none;       
        } 
    }
 
    &.dark-red {
        background: $dark-red;        
        color: #fff;  

        &:hover {
            background: rgba(218, 72, 53, 0.8);
        }
    }

    &.gray-border {
        background: none;
        border: 2px solid $gray;
        color: $gray;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: $gray;
            color: #fff;

            .pointer_left {
                border-color: #fff;
            }

        }
    }

    .label {
        top: -7px;
    }

    .pointer {

        &_left {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &.big-button {
		font-size: 16px;
		padding: 20px;
        margin: 30px 30px 0 30px;
	}
}

.form-close {
    width: 33px;
    height: 33px;
    border: none;
    color: #fff;
		background: $braun-bg;
		
		&.light-braun {
			background: #737373;
			color: #fff;
		}
}

.close-btn {
    color: $gray;
    font-size: 14px;
}

.panel-download {
    width: 30px;
    height: 30px;
    background-color: #dddddd;
    color: $braun-bg;
    border: none;    
    vertical-align: middle;

    .icon {
        vertical-align: middle;
    }

    &.red {
        color: $red;
    }

    &.red-bg {
        color: #fff;
        background: $red;
    }

    &.braun-bg {
        background: $braun-bg;
        color: #fff;
    } 

    &.green-bg {
        color: #fff;
        background: $green;
    }
}

.panel-close {
    width: 30px;
    height: 30px;
    background: #dddddd;
    color: $braun-bg;
    border: none;
    font-size: 25px;
    line-height: 30px;
    vertical-align: middle;

    &:hover {
        color: $red;
    }

    &.red {
        color: $red;
    }

    &.red-bg {
        color: #fff;
        background: $red;
    }    

    &.braun-bg {
        background: $braun-bg;
        color: #fff;
    }

    &.green-bg {
        background: $green;
        color: #fff;
    }
}

.panel-redact {
    width: 30px;
    height: 30px;
    color: $braun-bg;
    border: none;
    font-size: 15px;
    line-height: 30px;
    vertical-align: middle;
    background: $light-blue;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-pencil-blue {
        display: none;
    }

    &:hover {
        .icon-pencil-gray {
            display: none;
        }

        .icon-pencil-blue {
            display: block;
        }
    }

    &.blue {
        color: $blue;
    }

    &.braun-bg {
        background: $braun-bg;
        color: #fff;
    }
}

.panel-save {
    width: 30px;
    height: 30px;
    color: $braun-bg;
    border: none;
    font-size: 15px;
    line-height: 30px;
    vertical-align: middle;
    background: $light-blue;

    &.blue {
        color: $blue;
    }

    &.braun-bg {
        background: $braun-bg;
        color: #fff;
    }

    .icon-save-white {
        vertical-align: baseline;
    }
}

.plus-button {
    display: flex;
    width: 21px;
    height: 21px;
    font-size: 14px;
    //line-height: 20px;
    align-items: center;
    justify-content: center;
    border: none;

    .fa {
        line-height: 20px;
    }
    
    &.green {
        color: #fff;
        background: $green;
    }

    &.md {
        width: 30px;
        height: 30px;
    }

    &.braun {
        background: $braun-bg;
        color: #fff;
    }
}

//кнопка загрузки файла

.focus-jfilestyle {

    label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        background: $braun-bg;
        border: 2px solid $braun-bg;
        color: #fff;
        font-size: 1em;
        font-weight: 700;       
        padding: 10px 25px;
        position: relative;
        white-space: nowrap;
        cursor: pointer;
    
        &:hover {
           background: rgba(55, 55, 55, 0.8);
           border: 2px solid rgba(55, 55, 55, 0.8);
        }
    }   
}

.sortable-button {
    padding: 0;
    background: none;
    border: none;
    margin-left: 10px;
    color: $gray;
}

.look {
    
    &_on .icon-on{
        display: inline-block;
        color: $green;
      }
      &_off .icon-off{
        display: inline-block;
        color: $gray; 
      }
      &_on .icon-off{
        display: none;
      }
      &_off .icon-on{
        display: none;
      }    

}

.button-wrap {
    margin-left: 30px;

    .button {
        margin-left: 10px;
    }
}

.call-button {
	width: 40px;
	height: 40px;
	border: none;	
	padding: 0;	
}

.tel-panel-close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	background: #ededed;
	color: #a7a7a7;
	border: none;
	border-radius: 50%;
	position: absolute;
	font-size: 20px;
	line-height: 17px;
}		

@media only screen and (max-width: 1260px) {
    .button {
        font-size: 0.9em;
        padding: 10px 15px;
    }

    .focus-jfilestyle {
        
        label {
            font-size: 0.9em;
            padding: 10px 15px;  
        }
    }
}    

@media only screen and (max-width: 1025px) {
    .button {
        font-size: 0.8em;
        //padding: 7px 10px;
    }  
    
    .focus-jfilestyle {
        
        label {
            font-size: 0.8em;           
        }
    }
        
}