$icon-font-path: '../fonts/';

@import "_includs";

.client-page {

    .table-page {

        &__filter {

            &-bottom-block {
                margin-top: 0;
                margin-bottom: 30px;
            }
        }
    }

    .status {

        &__block {
            display: flex;
            align-items: center;
            margin: 0 40px;
           

            .swipe-label {
                margin-bottom: 5px;
            }
        }

        &__list {
            margin-left: 20px;
        }
    }
}