$icon-font-path: '../fonts/';

@import "_includs";

//ширина ячеек таблицы

.w-3pr {
    width: 3%;
}

.w-5pr {
    width: 5%;
}

.w-6pr {
	width: 6%;
}

.w-7pr {
	width: 7%;
}

.w-8pr {
	width: 7%;
}

.w-10pr {
    width: 10%;
}

.w-13pr {
    width: 13%;
}

.w-15pr {
    width: 15%;
}


.w-20pr {
    width: 20%;
}

.w-25pr {
    width: 25%;
}

.w-30pr {
    width: 30%;
}

.w-40pr {
	width: 40%;
}

.w-50pr {
	width: 50%;
}

.w-110px {
	width: 110px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.trans {
	transition: all .4s ease 0s;
}

.icon {
    display: inline-block;
    vertical-align: top;
}


.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    
    img {
        object-fit: cover;
        -o-object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.pointer {

    &_bottom {
        display: block;
        cursor: pointer;
        width: 8px;
        height: 8px;
        border-left: 1px solid $braun; 
        border-bottom: 1px solid $braun; 
        transform: rotate(-45deg);
        margin-left: 10px;

        &.sm {
            width: 5px;
            height: 5px;  
        }
    }

    &_right {
        display: block;
        cursor: pointer;
        width: 8px;
        height: 8px;
        border-left: 1px solid $braun; 
        border-bottom: 1px solid $braun; 
        transform: rotate(-135deg);
        margin-left: 10px;

        &.sm {
            width: 5px;
            height: 5px;  
        }

        &.blue {
            border-left: 1px solid $blue; 
            border-bottom: 1px solid $blue;  
            background: transparent;
            border-right: none;
            border-top: none;
        }
    }

    &_left {
        display: block;
        cursor: pointer;
        width: 8px;
        height: 8px;
        border-left: 1px solid $braun; 
        border-bottom: 1px solid $braun; 
        transform: rotate(45deg);
        margin-right: 10px;

        &.sm {
            width: 5px;
            height: 5px;  
        }

        &.lg {
            width: 14px;
            height: 14px;  
        }

        &.blue {
            border-left: 1px solid $blue; 
            border-bottom: 1px solid $blue;  
            background: transparent;
            border-right: none;
            border-top: none;
        }
    }

    &_top {
        display: block;
        cursor: pointer;
        width: 8px;
        height: 8px;
        border-left: 1px solid $braun; 
        border-bottom: 1px solid $braun; 
        transform: rotate(135deg);
        margin-left: 10px;

        &.sm {
            width: 5px;
            height: 5px;  
        }
    }
}

.label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;    
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    vertical-align: middle;
    line-height: 10px;
    

    &.ab {
        position: absolute;
        top: 7px;
        left: 7px;
    }
   
    &_red {
        background: $red;       
        color: #fff;
    }

    &_gray {
        background: #86909d;
        color: #fff;
    }

    &_blue {
        background: $blue;
        color: #fff;
    }

    &_green {
        background: #5fad5a;
        color: #fff;
    }

    &_light-blue {
        background: $light-blue;
        color: $gray;
    }
    
    &_orange {
        background: #ec5c1c;
        color: #fff;
    }

    &_purple {
        background: #b06ab3;
    }

    &_red {
        background: $red;
    }   

    &.lang {
        font-size: 0.7rem;
        font-weight: 400;
        display: inline-block;
        width: auto;
        text-transform: uppercase;
        padding: 3px 4px 1px 3px;
        width: auto;
        height: auto;
        border-radius: 0;
    }
}


.value {
    font-size: 18px;
    font-weight: 700;

    span {
        color: $gray;
        font-size: 14px;
        font-weight: 400;
    }

    sup {
        font-size: 11px;
        font-weight: 400;
        color: $gray;
    }
}

.breadcrumbs {

    &__list {
        display: flex;
        padding: 20px 0;
        text-align: center;

        .fa-home {
            color: $gray; 
            font-size: 14px; 
        }
    }

    &__item {
        font-size: 12px;        

        a {
            color: $gray;
            line-height: 17px;
        }

        &:after {
            content:"/";
            display: inline-block;
            padding: 0 8px 0 5px;
            color: $gray;            
        }

        &:last-child {

            &:after {
                content: "";
                display: none;
            }
        }

        &:hover {

            a {
                color: $gray;
                text-decoration: underline;
            }
        }
    }
}

&.blue {
    background: #e7faff;
    border: 2px solid #9bcbd8;
}

&.pink {
    background: #fceffc;
    border: 2px solid #d3b4d3;
}

&.gray {
    background: #fff;
    border: 2px solid #c4c4c4;
}

&.clear-blue {
    background: $clear-blue; 
}

&.green {
    background: #e2f0e1;
    border: 2px solid #accaaa;
}

&.dark-blue {
    background: #d1d8df;
    border: 2px solid #98a6b3;
}

&.white {
    background: #fff;
}

&.yellow {
    background: #faf2da;
    border: 2px solid #e5d4a1;
}


//borders label

&.color {
    padding: 3px 5px 2px 5px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}   

&.border-green {
    border: 1px solid $green;
    color: $green;
    background: #fff;
}

&.border-yellow {   
    border: 1px solid $yellow;
    color: $yellow;
    background: #fff;
}

&.border-purple {
    border: 1px solid #bd88bd;
    color: #bd88bd;
    background: #fff;
}

&.border-blue {
    border: 1px solid $blue;
    color: $blue; 
    background: #fff;
}

&.border-braun {
    border: 1px solid $braun;
    color: $braun;
    background: #fff; 
}

&.border-gray {
    border: 1px solid #98a6b3;
    color: #98a6b3;
    background: #fff;
}


//graph color

.an-green {
    background: #45b649;
}

.an-light-green {
    background: #92b645;
}

.an-clear-green {
    background: #d0d248;
}

.an-orange {
    background: #ffb43d;
}

.an-dark-orange {
    background: #ff863d;
}

.an-red {
    background: #ec431c;
}


.an-purple {
    background: #b06ab3;
}

.an-blue {
    background: $blue;
}

.info-element {
    font-size: 1.1rem;
    padding: 15px 20px;
    
    &.green {
        color: #fff;
        background: $green;
        border: none;
    }
}

.table-hover-block {
    padding: 10px 15px;
    color: $black;
    width: 175px;
    background: #fff;
    position: absolute;
    bottom: -55px;
    right: 0;
    display: none;
    z-index: 10;

    &__title {
        font-size: 1rem;
        font-weight: 700;
        padding-bottom: 10px;
        border-bottom: 1px solid $light-blue;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        padding: 5px 0;
    }

    &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #ffffff transparent;

        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -10px;
    }
}

.button-block {

    &.flex {
        align-items: center;
    }
}

    &.pad {
        padding: 30px;
    }

    &.col {
        flex-direction: column;
    }

    &.brd-top {
        border-top: 1px solid $light-gray;
    }

    &.brd-bottom {
        border-bottom: 1px solid $light-gray;
    }

    &.sb {
        justify-content: space-between;
    }

    &.fend {
        justify-content: flex-end;
    }

    .shut {
        background: #828282;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        display: inline-block;
        padding: 2px 5px 1px;
    }

    .incl {
        background: $green;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        display: inline-block;
        padding: 2px 5px 1px;
    }

    .circle-avatar-wrap {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
		}
		
		.expense {

			.icon {
				margin-right: 10px;
			}

			.icon-pointer-top {
				display: inline-block;
			}

			.icon-pointer-bottom {
				display: none;
			}
		}

		.income {

			.icon {
				margin-right: 10px;
			}
			
			.icon-pointer-top {
				display: none;
			}

			.icon-pointer-bottom {
				display: inline-block;
			}
		}

.circle-icon {    
    width: 25px;
    height: 25px;
    flex-basis: 25px;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 20px;

    &.blue {
        border: none;
        background: #9bcbd8;
    }

    &.yellow {
        border: none;
        background: #e5d4a1;
    }

    &.pink {
        border: none;
        background: #d3b4d3;
    }

    &.gray {
        border: none;
        background: #c3c3c3;
    }

    &.green {
        border: none;
        background: $green;
    }

    &.dark-blue {
        border: none;
        background: #778a9c;        
    }
}

    
