$icon-font-path: '../fonts/';

@import "_includs";

.logo-wrap {
	width: 160px;
	height: 17px;

	img {
		object-fit: contain;
		-o-object-fit: contain;
	}
}

.header {
	width: 100%;    
	height: 50px;
	background: $dark-bg;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__menu-list {
	   display: flex;
	   justify-content: center;
	   align-items: center; 
	   height: 100%;
	}

	&__menu-item {
		height: 100%;
		border-left: 1px solid $light-bg;
		position: relative;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 0 15px;
			position: relative;

			&:hover {
				text-decoration: none;
			}
		}

		&:hover {
			
			.hover-block {
				display: block;
			}
		}

		.pointer_bottom {
			margin-left: 0;			
		}
	} 
	
	.hover-block {
		padding: 20px 30px;
		background: $light-bg;
		width: 200px;
		position: absolute;
		z-index: 10;
		left: -70px;
		top: 100%;
		color: $braun;
		display: none;

		&:before {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $light-bg transparent;
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -10px;
			top: -10px;
		}

		&__wrap {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__title {
			font-size: 12px;
			font-weight: 700;           
		}

		&__list {
			margin: 10px auto 10px 0;
		}

		&__item {
			display: flex;
			align-items: center;
			margin: 5px 0;            
		}

		&__value {
			display: inline-block;
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			min-width: 30px;
			text-align: right;

			&.big {
				font-size: 25px;
			}

			span {
				color: $braun;
				font-size: 14px;
				font-weight: 400;
				display: inline-block;
			}
		}

		&__text {
			margin: 0 10px;
			font-size: 14px;
		}
	}

	&__menu-icon {

		&_1 {
			background: url(../images/header-icon-1.png);
			width: 20px;
			height: 17px;
		}

		&_2 {
			background: url(../images/header-icon-2.png);
			width: 21px;
			height: 19px;
		}

		&_3 {
			background: url(../images/header-icon-3.png);
			width: 20px;
			height: 20px;
		}

		&_4 {
			background: url(../images/header-icon-4.png);
			width: 20px;
			height: 19px;
		}
	}

	.user-item {
		padding: 0 15px;
		display: flex;
		align-items: center;
		cursor: pointer;

		&__name {
			color: #fff;
			font-weight: 700;
			margin: 0 15px;
		}

		&:hover {

			.submenu {
				display: block;
			}
		}
	}

	.submenu {
		width: 225px;		
		top: 100%;
		right: -30px;
		display: none;
		
	}
}