$icon-font-path: '../fonts/';

$black: #1b1b1b;
$dark-bg: #2a2a2a;
$light-bg: #3d3d3d;
$braun-bg: #373737;
$braun: #8a8a8a;
$gray: #8e8e8e;
$el-border-color: #d0d0d0;
$clear-gray: #d4d4d4;
$light-gray: #e1e1e1;
$blue: #2182c5;
$bright-blue: #3c8cc9;
$dark-blue: #3b5998;
$light-blue: #eaeaea;
$clear-blue: #f6f6f6;
$red: #ec1c23;
$dark-red: #da4835;
$green: #45b649;
$yellow: #e5d4a1;