$icon-font-path: '../fonts/';

$black: #1b1b1b;
$dark-bg: #2a2a2a;
$light-bg: #3d3d3d;
$braun-bg: #373737;
$braun: #8a8a8a;
$red: #ec1c23;
$light-blue: #f0f0f0;
$gray: #8e8e8e;
$light-gray: #c3c3c3;
$blue: #2182c5;