$icon-font-path: '../fonts/';

@import "_includs";

.main-menu-page {

    .content {
        position: relative;
    }

    .sortable {

        &__list {
            //border-right: 1px solid $light-gray;
            width: 33.3%;

            &:before {
                content:"";
                width: 1px;
                height: calc(100% - 120px);
                background: $light-gray;
                display: block;
                position: absolute;
                top: 120px;
                right:66.6%;
            }
            

            &:after {
                content:"";
                width: 1px;
                height: calc(100% - 120px);
                background: $light-gray;
                display: block;
                position: absolute;
                top: 120px;
                right: 33.3%;
            }

            &:last-child {
                border-right: none;
            }
        }

        &__item {
            min-height: 50px;

            &:hover {
               outline: 1px solid #acacac;
            }
        }

        &__head {
            font-size: 16px;
            font-weight: 700;
            margin-top: 10px;
            min-height: 30px;
        }

    }
}


.drop-placeholder {
    background: #f7f7f7;
    border: 1px dashed #c2c2c2;
    height: 60px;
    width: 100%;
    margin: 20px 0;
}

.main-menu {

    &__list {
        width: 33.3%;
        padding: 20px 30px;
    }
}

//checkbox

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
  }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
  }
  .control--radio .control__indicator {
    border-radius: 50%;
  }
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    background: #fff;
    border: 1px solid $el-border-color;
  }
  .control input:checked ~ .control__indicator {
    background: #45b649;
    border: 1px solid #45b649;
  }
  .control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator {
    background: #45b649;
    border: 1px solid #45b649;
  }
  .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }
  .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  .control input:checked ~ .control__indicator:after {
    display: block;
  }
  .control--checkbox .control__indicator:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }
  .control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
  }
  .control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
  }
  .select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
  }
  .select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .select select::-ms-expand {
    display: none;
  }
  .select select:hover,
  .select select:focus {
    color: #000;
    background: #ccc;
  }
  .select select:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
  }
  .select select:hover ~ .select__arrow,
  .select select:focus ~ .select__arrow {
    border-top-color: #000;
  }
  .select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
  }

  .settings {

    &__table-wrap {
        padding: 20px 40px;
      }

      &__table {

        width: 100%;    

        th {
          font-size: 1.2rem;
          padding: 10px 30px;
        }
  
        td {
          padding: 11px 30px; 
          font-size: 1.1rem;
          vertical-align: middle;
          text-align: center;        
        }
  
        tbody {
            tr {
                &:nth-child(2n+1) {
                    background: $clear-blue;
                }
  
                &:nth-child(2n) {
                    background: #ededed;
                }
            }
        }
      }

      &__table-title {
        text-align: left;        
      }
  }

  