$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 1260px) {

    //shedule-page

    .schedule {

        &__head {
            padding: 0 15px;

            &_left {

                .input-group {
                    width: 200px;
                }

                .calendar-button {
                    font-size: 1.3rem;
                }
            }
        }

        &__nav-list {
            margin: 0 15px;
        }
      
        &__nav-button {

        }

        &__nav-item {
            font-size: 0.9rem;
        }
        
    }

    .today-data,
    .data-input {
        font-size: 1.2rem;
    }

    //client-card-page

    .add-group {

        &__block {
            left: -60%;
        }
    }

    .client-card-column {       
        
        &__item {
            width: calc(50% - 30px);
        }
    }
}