$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 1366px) {

    .schedule {
        
        &__content-column {

            th {
                font-size: 13px;
                white-space: normal;
            }

            td {
                font-size: 13px;
            }
        }
    }

    .sidebar {
        width: 220px;
        flex-basis: 220px;
    }

    .page-width-sidebar {

        .content {
            width: calc(100% - 220px);
        }
    }
}