$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 1366px) {

    .schedule {
        
        &__content-column {

            th {
                font-size: 13px;
                white-space: normal;
            }

            td {
                font-size: 13px;
            }
        }
    }
}