$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 1025px) {

	//schedule

	.today-data {
		font-size: 1em;
	}

	.calendar-button {
		margin-left: 5px;
	}

	.schedule {

		&__nav-list {
			margin: 0 10px;
		}

		&__nav-item {
			font-size: 0.8em;
		}

		&__nav-button {
			padding: 0 6px;
		}

		&__footer {

			&-list {
				justify-content: flex-start;
			}

			&-item {
				margin-bottom: 5px;
			}
			
		}
	}	
	
}