$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 767px) {

    main {
        overflow-x: auto;
        width: 100%;
        /*min-width: auto;
        flex-basis: 100%;
        flex-shrink: 2;*/
        
    }

  .schedule {

    &__content {
        
    }
  }  

}

