$icon-font-path: '../fonts/';

@import "_includs";

.product-page {

  
}

.main-form {
    margin: 0 -10px;
    display: flex; 
    flex-wrap: wrap;  

    &.w-1030px {       
        width: 1030px;
        max-width: 1030px;
    }

    &__column-wrap {
        width: 100%;        
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .swipe-label {
            width: 100%;
           margin: 0 10px 10px 10px;
        }
    }

    &__column_1 {
        margin: 15px 10px;   
        width: calc(59.5% - 20px - 200px);
        
        &.thin {
            margin: 15px 10px;   
            width: calc(200px - 20px);
            flex-basis: calc(200px - 20px);
            flex-shrink: 0; 
        }
    }

    &__column_2 {
        width: calc(33.3% - 20px);
        margin: 0 10px;
    }

}

