$icon-font-path: '../fonts/';

@import "_includs";

.process-page {

    &__list {
        padding: 10px 30px;
    }

    &__item {
        margin: 20px 0;
        box-shadow: 0px 1px 18px 3px #f3f3f3;
        font-size: 16px;
        padding: 20px;       
        display: flex;       
        justify-content: space-between;        
        align-items: flex-start;
    }

    &__item-head {        
        display: flex;        
        align-items: flex-start;
        margin-right: 15px;
    }

    &__tools-block {
        display: flex;
        align-items: center;
        width: 85px;      
        flex-basis: 85px;      
        flex-shrink: 0;
        text-align: right;

        .icon {
            vertical-align: middle;
        }
    }

}

.process {

    &__title-block {
        margin-top: 3px;
    }

    &__title {
        font-size: 15px;

        span {
            font-size: 15px;
            font-weight: 700;           
            display: inline-block;
        }
    }

    &__list {
        margin: 20px 0 0 0;
    }

    &__item {
        display: flex;
        align-items: center;
        margin: 10px 0;

        .checkbox {
            margin-right: 10px;
        }
    }
}