/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-add-contact-1 {
  background-image: url(../images/sprite.png);
  background-position: -44px 0px;
  width: 44px;
  height: 44px;
}
.icon-add-contact {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 44px;
  height: 44px;
}
.icon-blue-pointer-right {
  background-image: url(../images/sprite.png);
  background-position: -170px -12px;
  width: 16px;
  height: 11px;
}
.icon-book-gray {
  background-image: url(../images/sprite.png);
  background-position: -170px 0px;
  width: 17px;
  height: 12px;
}
.icon-bookmark-gray {
  background-image: url(../images/sprite.png);
  background-position: -170px -148px;
  width: 12px;
  height: 11px;
}
.icon-calendar-gray {
  background-image: url(../images/sprite.png);
  background-position: -124px -94px;
  width: 18px;
  height: 19px;
}
.icon-calendar {
  background-image: url(../images/sprite.png);
  background-position: -124px -52px;
  width: 21px;
  height: 23px;
}
.icon-call-1 {
  background-image: url(../images/sprite.png);
  background-position: -44px -44px;
  width: 40px;
  height: 40px;
}
.icon-call-away-1 {
  background-image: url(../images/sprite.png);
  background-position: -58px -152px;
  width: 18px;
  height: 8px;
}
.icon-call-away-white {
  background-image: url(../images/sprite.png);
  background-position: -37px -152px;
  width: 21px;
  height: 9px;
}
.icon-call-away {
  background-image: url(../images/sprite.png);
  background-position: -124px 0px;
  width: 30px;
  height: 30px;
}
.icon-call-in-1 {
  background-image: url(../images/sprite.png);
  background-position: -71px -118px;
  width: 17px;
  height: 17px;
}
.icon-call-in-2 {
  background-image: url(../images/sprite.png);
  background-position: -88px 0px;
  width: 36px;
  height: 36px;
}
.icon-call-in-white-min {
  background-image: url(../images/sprite.png);
  background-position: -154px -69px;
  width: 10px;
  height: 10px;
}
.icon-call-in-white {
  background-image: url(../images/sprite.png);
  background-position: -124px -75px;
  width: 20px;
  height: 19px;
}
.icon-call-in {
  background-image: url(../images/sprite.png);
  background-position: -90px -88px;
  width: 30px;
  height: 30px;
}
.icon-call-out-1 {
  background-image: url(../images/sprite.png);
  background-position: -54px -118px;
  width: 17px;
  height: 17px;
}
.icon-call-out {
  background-image: url(../images/sprite.png);
  background-position: -60px -88px;
  width: 30px;
  height: 30px;
}
.icon-call {
  background-image: url(../images/sprite.png);
  background-position: -88px -118px;
  width: 17px;
  height: 17px;
}
.icon-case-blue {
  background-image: url(../images/sprite.png);
  background-position: -154px -45px;
  width: 16px;
  height: 14px;
}
.icon-case-green {
  background-image: url(../images/sprite.png);
  background-position: -49px -136px;
  width: 17px;
  height: 15px;
}
.icon-circle-pointer-green {
  background-image: url(../images/sprite.png);
  background-position: -154px 0px;
  width: 16px;
  height: 15px;
}
.icon-close-sm {
  background-image: url(../images/sprite.png);
  background-position: -154px -79px;
  width: 10px;
  height: 10px;
}
.icon-close {
  background-image: url(../images/sprite.png);
  background-position: -36px -118px;
  width: 18px;
  height: 18px;
}
.icon-column-blue {
  background-image: url(../images/sprite.png);
  background-position: -116px -136px;
  width: 16px;
  height: 15px;
}
.icon-column-gray {
  background-image: url(../images/sprite.png);
  background-position: -100px -136px;
  width: 16px;
  height: 15px;
}
.icon-comment {
  background-image: url(../images/sprite.png);
  background-position: -170px -137px;
  width: 12px;
  height: 11px;
}
.icon-cros-top {
  background-image: url(../images/sprite.png);
  background-position: -32px -136px;
  width: 17px;
  height: 15px;
}
.icon-cross-red {
  background-image: url(../images/sprite.png);
  background-position: -170px -125px;
  width: 12px;
  height: 12px;
}
.icon-download {
  background-image: url(../images/sprite.png);
  background-position: -154px -59px;
  width: 11px;
  height: 10px;
}
.icon-drop-icon {
  background-image: url(../images/sprite.png);
  background-position: -105px -118px;
  width: 19px;
  height: 14px;
}
.icon-drop2-icon {
  background-image: url(../images/sprite.png);
  background-position: -16px -136px;
  width: 16px;
  height: 16px;
}
.icon-eye-gray-off {
  background-image: url(../images/sprite.png);
  background-position: -88px -71px;
  width: 21px;
  height: 16px;
}
.icon-eye-green-on {
  background-image: url(../images/sprite.png);
  background-position: -17px -152px;
  width: 20px;
  height: 11px;
}
.icon-fin-blue {
  background-image: url(../images/sprite.png);
  background-position: -124px -118px;
  width: 22px;
  height: 12px;
}
.icon-flag-braun {
  background-image: url(../images/sprite.png);
  background-position: -88px -36px;
  width: 35px;
  height: 35px;
}
.icon-gal-top {
  background-image: url(../images/sprite.png);
  background-position: 0px -152px;
  width: 17px;
  height: 14px;
}
.icon-l-close-gray {
  background-image: url(../images/sprite.png);
  background-position: -170px -113px;
  width: 12px;
  height: 12px;
}
.icon-l-close-red {
  background-image: url(../images/sprite.png);
  background-position: -170px -101px;
  width: 12px;
  height: 12px;
}
.icon-mic {
  background-image: url(../images/sprite.png);
  background-position: 0px -44px;
  width: 44px;
  height: 44px;
}
.icon-pause {
  background-image: url(../images/sprite.png);
  background-position: 0px -88px;
  width: 30px;
  height: 30px;
}
.icon-pay-blue {
  background-image: url(../images/sprite.png);
  background-position: -18px -118px;
  width: 18px;
  height: 18px;
}
.icon-pay-green {
  background-image: url(../images/sprite.png);
  background-position: 0px -118px;
  width: 18px;
  height: 18px;
}
.icon-pencil-blue {
  background-image: url(../images/sprite.png);
  background-position: -170px -36px;
  width: 13px;
  height: 13px;
}
.icon-pencil-gray {
  background-image: url(../images/sprite.png);
  background-position: -170px -49px;
  width: 13px;
  height: 13px;
}
.icon-pencil-white {
  background-image: url(../images/sprite.png);
  background-position: -170px -62px;
  width: 13px;
  height: 13px;
}
.icon-pointer-bottom {
  background-image: url(../images/sprite.png);
  background-position: -83px -136px;
  width: 17px;
  height: 15px;
}
.icon-pointer-right {
  background-image: url(../images/sprite.png);
  background-position: -154px -30px;
  width: 16px;
  height: 15px;
}
.icon-pointer-top {
  background-image: url(../images/sprite.png);
  background-position: -66px -136px;
  width: 17px;
  height: 15px;
}
.icon-rec {
  background-image: url(../images/sprite.png);
  background-position: -30px -88px;
  width: 30px;
  height: 30px;
}
.icon-save-white {
  background-image: url(../images/sprite.png);
  background-position: -170px -88px;
  width: 12px;
  height: 13px;
}
.icon-sm-point {
  background-image: url(../images/sprite.png);
  background-position: -154px -89px;
  width: 9px;
  height: 9px;
}
.icon-table-blue {
  background-image: url(../images/sprite.png);
  background-position: -154px -15px;
  width: 16px;
  height: 15px;
}
.icon-table-gray {
  background-image: url(../images/sprite.png);
  background-position: -132px -136px;
  width: 16px;
  height: 15px;
}
.icon-time-gray {
  background-image: url(../images/sprite.png);
  background-position: 0px -136px;
  width: 16px;
  height: 16px;
}
.icon-tree-minus {
  background-image: url(../images/sprite.png);
  background-position: -170px -75px;
  width: 13px;
  height: 13px;
}
.icon-tree-plus {
  background-image: url(../images/sprite.png);
  background-position: -170px -23px;
  width: 13px;
  height: 13px;
}
.icon-warning-gray {
  background-image: url(../images/sprite.png);
  background-position: -124px -30px;
  width: 22px;
  height: 22px;
}
