/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-blue-pointer-right {
  background-image: url(../images/sprite.png);
  background-position: -37px -110px;
  width: 16px;
  height: 11px;
}
.icon-book-gray {
  background-image: url(../images/sprite.png);
  background-position: 0px -124px;
  width: 17px;
  height: 12px;
}
.icon-bookmark-gray {
  background-image: url(../images/sprite.png);
  background-position: -139px -88px;
  width: 12px;
  height: 11px;
}
.icon-calendar-gray {
  background-image: url(../images/sprite.png);
  background-position: -21px -70px;
  width: 18px;
  height: 19px;
}
.icon-calendar {
  background-image: url(../images/sprite.png);
  background-position: 0px -70px;
  width: 21px;
  height: 23px;
}
.icon-call-1 {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 40px;
  height: 40px;
}
.icon-call-away-1 {
  background-image: url(../images/sprite.png);
  background-position: -75px -60px;
  width: 18px;
  height: 8px;
}
.icon-call-away {
  background-image: url(../images/sprite.png);
  background-position: 0px -40px;
  width: 30px;
  height: 30px;
}
.icon-call-in-1 {
  background-image: url(../images/sprite.png);
  background-position: -105px -54px;
  width: 17px;
  height: 17px;
}
.icon-call-in {
  background-image: url(../images/sprite.png);
  background-position: -30px -40px;
  width: 30px;
  height: 30px;
}
.icon-call-out-1 {
  background-image: url(../images/sprite.png);
  background-position: 0px -93px;
  width: 17px;
  height: 17px;
}
.icon-call-out {
  background-image: url(../images/sprite.png);
  background-position: -75px 0px;
  width: 30px;
  height: 30px;
}
.icon-call {
  background-image: url(../images/sprite.png);
  background-position: -105px -71px;
  width: 17px;
  height: 17px;
}
.icon-case-blue {
  background-image: url(../images/sprite.png);
  background-position: -123px -90px;
  width: 16px;
  height: 14px;
}
.icon-case-green {
  background-image: url(../images/sprite.png);
  background-position: -100px -93px;
  width: 17px;
  height: 15px;
}
.icon-circle-pointer-green {
  background-image: url(../images/sprite.png);
  background-position: -123px -30px;
  width: 16px;
  height: 15px;
}
.icon-close-sm {
  background-image: url(../images/sprite.png);
  background-position: -139px -120px;
  width: 10px;
  height: 10px;
}
.icon-close {
  background-image: url(../images/sprite.png);
  background-position: -105px 0px;
  width: 18px;
  height: 18px;
}
.icon-column-blue {
  background-image: url(../images/sprite.png);
  background-position: -123px -75px;
  width: 16px;
  height: 15px;
}
.icon-column-gray {
  background-image: url(../images/sprite.png);
  background-position: -123px -15px;
  width: 16px;
  height: 15px;
}
.icon-comment {
  background-image: url(../images/sprite.png);
  background-position: -139px -99px;
  width: 12px;
  height: 11px;
}
.icon-cros-top {
  background-image: url(../images/sprite.png);
  background-position: -66px -93px;
  width: 17px;
  height: 15px;
}
.icon-cross-red {
  background-image: url(../images/sprite.png);
  background-position: -139px -52px;
  width: 12px;
  height: 12px;
}
.icon-download {
  background-image: url(../images/sprite.png);
  background-position: -139px -110px;
  width: 11px;
  height: 10px;
}
.icon-drop-icon {
  background-image: url(../images/sprite.png);
  background-position: -60px -70px;
  width: 19px;
  height: 14px;
}
.icon-drop2-icon {
  background-image: url(../images/sprite.png);
  background-position: -33px -93px;
  width: 16px;
  height: 16px;
}
.icon-eye-gray-off {
  background-image: url(../images/sprite.png);
  background-position: -39px -70px;
  width: 21px;
  height: 16px;
}
.icon-eye-green-on {
  background-image: url(../images/sprite.png);
  background-position: -17px -110px;
  width: 20px;
  height: 11px;
}
.icon-fin-blue {
  background-image: url(../images/sprite.png);
  background-position: -79px -70px;
  width: 22px;
  height: 12px;
}
.icon-flag-braun {
  background-image: url(../images/sprite.png);
  background-position: -40px 0px;
  width: 35px;
  height: 35px;
}
.icon-gal-top {
  background-image: url(../images/sprite.png);
  background-position: 0px -110px;
  width: 17px;
  height: 14px;
}
.icon-l-close-gray {
  background-image: url(../images/sprite.png);
  background-position: -139px -64px;
  width: 12px;
  height: 12px;
}
.icon-l-close-red {
  background-image: url(../images/sprite.png);
  background-position: -139px -76px;
  width: 12px;
  height: 12px;
}
.icon-pay-blue {
  background-image: url(../images/sprite.png);
  background-position: -105px -18px;
  width: 18px;
  height: 18px;
}
.icon-pay-green {
  background-image: url(../images/sprite.png);
  background-position: -105px -36px;
  width: 18px;
  height: 18px;
}
.icon-pencil-blue {
  background-image: url(../images/sprite.png);
  background-position: -139px -26px;
  width: 13px;
  height: 13px;
}
.icon-pencil-gray {
  background-image: url(../images/sprite.png);
  background-position: -60px -53px;
  width: 13px;
  height: 13px;
}
.icon-pencil-white {
  background-image: url(../images/sprite.png);
  background-position: -139px 0px;
  width: 13px;
  height: 13px;
}
.icon-pointer-bottom {
  background-image: url(../images/sprite.png);
  background-position: -83px -93px;
  width: 17px;
  height: 15px;
}
.icon-pointer-right {
  background-image: url(../images/sprite.png);
  background-position: -123px -60px;
  width: 16px;
  height: 15px;
}
.icon-pointer-top {
  background-image: url(../images/sprite.png);
  background-position: -49px -93px;
  width: 17px;
  height: 15px;
}
.icon-rec {
  background-image: url(../images/sprite.png);
  background-position: -75px -30px;
  width: 30px;
  height: 30px;
}
.icon-save-white {
  background-image: url(../images/sprite.png);
  background-position: -139px -39px;
  width: 12px;
  height: 13px;
}
.icon-sm-point {
  background-image: url(../images/sprite.png);
  background-position: -53px -110px;
  width: 9px;
  height: 9px;
}
.icon-table-blue {
  background-image: url(../images/sprite.png);
  background-position: -123px -45px;
  width: 16px;
  height: 15px;
}
.icon-table-gray {
  background-image: url(../images/sprite.png);
  background-position: -123px 0px;
  width: 16px;
  height: 15px;
}
.icon-time-gray {
  background-image: url(../images/sprite.png);
  background-position: -17px -93px;
  width: 16px;
  height: 16px;
}
.icon-tree-minus {
  background-image: url(../images/sprite.png);
  background-position: -139px -13px;
  width: 13px;
  height: 13px;
}
.icon-tree-plus {
  background-image: url(../images/sprite.png);
  background-position: -60px -40px;
  width: 13px;
  height: 13px;
}
