$icon-font-path: '../fonts/';

@import "_includs";

.page-nav-tabs {
	border: none;
	display: flex;
	background: $light-blue;

	li {
		min-width: 150px;
		text-align: center;		
		background: $light-gray;	
		border-right: 1px solid #fff;

		a {
			border-radius: 0;
			color: $gray;
			font-weight: 500;
			font-size: 1rem;
			display: inline-block;	
			width: 100%;
			padding: 17px 15px;

			&:hover,
			&:focus,
			&:active {
				background: $light-gray;
			}
			
		}

		&.active {
			background: #fff;			
			border: none;

			a {
				color: $black;
				border: none;
			
				
				&:hover,
				&:focus,
				&:active  {
					background: #fff;
					border: none;
					color: $black;					
				}
			}
		   
		}

		&:last-child {
			border-right: none;

			&.active {
				//border-right: 1px solid $light-gray;
			}
		}
	}
}

.main-filter {
	display: flex;
	align-items: center;
	padding: 15px 30px;
	font-size: 1rem;
	width: 100%;

	&__block {
		display: flex;
		align-items: center;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__title {		
		font-weight: 400;
		margin-right: 10px;
		display: inline-block;
	}

	&__select {		
		font-weight: 400;
		color: $black;
		border: none;
		//width: 150px;
		padding: 3px 26px 0 10px;

		.current {
			color: $blue;
			width: calc(100%);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: inline-block;
		}

		.list {
			min-width: 180px;		

			li {
				padding: 3px 10px;
				text-align: left;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		&:after {
			border-color: $blue;
			width: 5px;
			height: 5px;
			margin-top: -3px;
		}
	}

	.pointer_bottom {
		position: absolute;
		top: 50%;
		right: 10px;			
		border-color: $blue;
		pointer-events: none;
		margin-top: -2px;	
	}

	.datepicker-wrap {
		color: $blue;
		width: 95px;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}

		input {
			border: none;
			padding: 0;		

			&::-webkit-input-placeholder {color: $blue;}
			&::-moz-placeholder          {color: $blue;}
			&:-moz-placeholder           {color: $blue;}
			&:-ms-input-placeholder      {color: $blue;}
			
		}
	}	
}

.pay {

	&__block {
		width: 40%;
		padding: 30px;
		background: $clear-blue;
	}

	&__item {
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 13px 0;
		position: relative;

		&:hover {
			background: #fff;

			.pay__title {
				color: $black;
			}

			&:before {
				content: "";
				width: 30px;
				height: 100%;
				display: block;
				background: #fff;
				position: absolute;
				top: 0;
				left: -30px;
			}

			&:after {
				content: "";
				width: 30px;
				height: 100%;
				display: block;
				background: #fff;
				position: absolute;
				top: 0;
				right: -30px;
			}
		}
	}

	&__title {
		width: calc(50% - 10px);	
		flex-basis: calc(50% - 10px);		
		flex-shrink: 0;	
		font-size: 1.2rem;
		font-weight: 400;
		color: $gray;
		margin-right: 10px;
	}

	&__value {
		width: 50%;
		flex-basis: 50%;		
		flex-shrink: 0;
		font-size: 1.5rem;		
		font-weight: 700;	
		color: $black;		

		span {
			color: $gray;
			font-size: 1rem;
			font-weight: 400;
		}

		sup {
			color: $gray;
			font-size: 11px;
			font-weight: 400;	
		}
	}
}

.positive {
	color: $green;
}

.negative {
	color: $red;
}

.netrale {
	color: #707070;
}

.graph-block {
	padding: 30px;
	background: #fff;
	width: 60%;
}

.main-analitic {
	width: 100%;
	table-layout: fixed;
	font-size: 1rem;

	&__item {

		&-1 {
			width: 15%;
		}

		&-3 {
			width: 30%;
		}

		&-5 {
			width: 10%;
		}

		&-8 {
			width: 15%;
		}
	}

	th {		
		color: $gray;
		font-weight: 400;
		padding: 15px;
		border-bottom: 1px solid $light-gray;
		vertical-align: middle;

		&:first-child {
			padding: 15px 15px 15px 0;
			white-space: nowrap;
		}
	}	
		
	tr {
		td,th {
			&:last-child {
				text-align: right;
			}
		}
	}

	td {
		position: relative;
		padding: 15px;
		vertical-align: middle;
		border-bottom: 1px solid $light-gray;

		&:first-child {
			color: $gray;
			padding: 15px 15px 15px 0;
		}
	}

	.an-visible {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}	
}

.analitic-title {
	color: $gray;
	margin-bottom: 15px;
	min-height: 48px;
}

.analitic-num {
	font-size: 28px;
	font-weight: 700;
	display: block;
	margin-bottom: 12px;

	span {
		font-size: 18px;
	}

	i {
		font-size: 18px;
		font-style: normal;
	}
}

.analitic-value {
	font-size: 1rem;
	font-weight: 700;
	display: block;
}



//tab-2 client

.client-analitic {

	&__list {
		display: flex;
		flex-wrap: wrap;		
	}

	&__item {
		padding: 15px 30px;
		font-size: 1.2rem;
		border-top: 1px solid $light-gray;
		border-right: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;		
		width: 12.5%;
		//flex-basis: 12.5%;
		//flex-grow: 0;
		margin-top: -1px;		
	}	
}

.client-graph-block {
	width: 70%;
	margin: 30px auto;
}

//tab-3

.servises-block {
	width: 47%;
}

.servises-table {
	width: 100%;
	table-layout: fixed;

	th {
		font-size: 1rem;
		color: $gray;
		font-weight: 400;
		border-bottom: 1px solid #c8c8c8;
		padding: 14px 0;
		vertical-align: middle;

		&:first-child {
			width: 40%;
		}
	}

	td {
		border-bottom: 1px solid $light-blue;
		padding: 12px 0;
		vertical-align: middle;
		font-size: 13px;
		vertical-align: middle;			
	}

	tr {
		th, td {

			&:last-child {
				text-align: right;
			}
		}
	}
}

//tab 4

.employees-table {
	table-layout: fixed;
	width: 100%;

	th {
		background: #ddd;
		font-size: 1.1rem;
		color: $gray;
		font-weight: 400;
		padding: 24px 30px;
		border-right: 1px solid $light-blue;		
	}

	td {
		border: 1px solid $light-blue;
		padding: 13px 30px;
		vertical-align: middle
		//border-right: 1px solid $light-blue;
	}

	&__name {
		color: $blue;
		font-size: 0.9rem;
		margin-bottom: 6px;
		
	}

	&__main-name {
		font-weight: 1.3rem;
		font-weight: 700;
		color: $black;
	}
	
	&.col-2 {
		
		th {
	
			&:first-child {
				width: 33.3%;
			}
		}
	}

	&__download-list {
		width: 50%;
		position: relative;
	}

	&__download-block {
		display: flex;
		align-items: center;
	}
	
}

.download-line {
	background: $clear-blue;
	position: relative;
	width: calc(45% - 30px);
	height: 20px;
	//top: 50%;
	//margin-top: -10px;
	//left: 30px;
	display: inline-block;		

	&__value {
		background: #959595;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		z-index: 10;
		height: 100%;
		
		&.positive {
			background: $green;
		}

		&.negative {
			background: $red;
		}

		&.an-green {
			background: #45b649;
		}

		&.an-light-green {
			background: #92b645;
		}
		
		&.an-clear-green {
			background: #d0d248;
		}
		
		&.an-orange {
			background: #ffb43d;
		}
		
		&.an-dark-orange {
			background: #ff863d;
		}
		
		&.an-red {
			background: #ec431c;
		}
		
		&.an-purple {
			background: #b06ab3;
		}

		&.an-blue {
			background: $blue;
		}
		
	}
	
}

.download-value {
	font-size: 12px;
	font-weight: 400;		
	display: inline-block;
	margin-left: 10px;
}

.download-num {
	color: #fff;
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 20;
	display: inline-block;
	vertical-align: middle;
	margin-top: 3px;
	font-size: 14px;
	font-weight: 700;
}

//tab-5

.communication {

	&__list {
		display: flex;
		margin-bottom: 30px;		
	}

	&__item {
		padding: 15px 30px;
		border-top: 1px solid $light-gray;
		border-right: 1px solid $light-gray;		
		flex-basis: 25%;
		flex-grow: 1;
		position: relative;

		.download-line {
			position: absolute;
			width: 100%;
			height: 8px;
			bottom: 0;
			left: 0;
		}

		&:last-child {
			border-right: none;
		}
	}

	&__title {
		font-size: 1.1rem;
		font-weight: 400;
		color: $gray;
		min-height: 50px;
	}

	&__stat-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 10px 0;
	}

	&__num {
		font-size: 2rem;
		font-weight: 700;
	}

	&__value {
		font-size: 14px;
		font-weight: 400;
		display: inline-block;
		margin-left: 10px;
	}

}

//tab-6

.finance-analitic {

	&__list {		
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		width: 25%;
		padding: 15px 30px;
		font-size: 1.2rem;
		border-top: 1px solid $light-gray;
		border-right: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
	}
}

.finance-block {
	width: 50%;

	.servises-table {

		tr {

			th,
			td {
				&:last-child {
					text-align: right;
				}
			}

			td {
				span {
					font-weight: 700;
				}
			}
		}
	}
}

