{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="items-table-page">
	<div class="tools">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item">
				<i class="fa fa-home" aria-hidden="true"></i>
				<a href="">Главная</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="">Финансы</a>
			</li>	
			<li class="breadcrumbs__item">
				<a href="">кассы</a>
			</li>		
		</ul>
		
	</div>

	<div class="table-page">
		<div class="table-page__head">
				<div class="table-page__head_left">	
					<h1 class="title">Кассы</h1>
					<button class="button green trans js-cash-add">
							+ Новая касса
					</button>
				</div>				
		</div>
	
		<div class="schedule__body">
			<table class="schedule__content-column white">
				<thead class="schedule__content-column-head">
					<tr>
						<th class="w-7pr">id</th>
						<th class="w-30pr">Название	</th>
						<th class="">Комментарий</th>
						<th class="">Салон</th>	
						<th class="">Баланс</th>	
						<th class="w-6pr"></th>						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
						2				
						</td>
						<td class="bold">
							Банк-терминал New-York
						</td>
						<td> 
							Привязали карту
						</td>
						<td>
								Lash.Moda New-York
							</td>
							<td class="green-text">
								62 000.00
							</td>
							<td>
							<button class="sortable-button edit"><i class="icon icon-pencil-gray" aria-hidden="true"></i></button>	
						</td>								
					</tr>
					<tr>
					<tr>
							<td>
							2345				
							</td>
							<td class="bold">
								Банк-терминал New-York
							</td>
							<td> 
								Привязали карту
							</td>
							<td>
									Lash.Moda New-York
								</td>
								<td class="green-text">
									620 000.00
								</td>
								<td>
								<button class="sortable-button edit"><i class="icon icon-pencil-gray" aria-hidden="true"></i></button>	
							</td>								
						</tr>
						<tr>		
				</tbody>
			</table>			
		</div>
		
	</div>

</main>

{% endblock %} 

	
