{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="sertificates-page">
	<div class="tools">
		
	</div>

	<div class="table-page">
		<div class="table-page__head">
				<div class="table-page__head_left">	
					<h1 class="title">Реестр сертификатов</h1>
					<button class="button green trans js-add-sertificates-reestr">
							+ Добавить
					</button>
				</div>
				<ul class="task-page__tabs-list ml-20">
					<li class="task-page__tabs-item">Типы сертификатов</li>
					<li class="task-page__tabs-item">Использование сертификатов</li>
					<li class="task-page__tabs-item active">Реестр сертификатов</li>
				</ul>	
		</div>
		<div class="schedule__body">
								<table class="schedule__content-column white">
										<thead class="schedule__content-column-head">
												<tr>
														<th class="w-50pr">
															Название
														</th>
														<th class="title-phone">
															Номер от
														</th>
														<th class="">
															Номер до
														</th>
																									
												</tr>
										</thead>
										<tbody>
												<tr>
														<td >
															-40 ламинирование ресниц					
														</td>
														<td>
															500256
														</td>
														<td >500489</td>												
										</tbody>
								</table>
								
					</div>
		
	</div>

</main>

{% endblock %} 

	
