{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="certificates-page">
	<div class="tools">
		
	</div>

	<div class="table-page">
		<div class="table-page__head">
				<div class="table-page__head_left">	
					<h1 class="title">Сертификаты</h1>
					<button class="button green trans js-add-certificates">
							+ Создать сертификат
					</button>
				</div>								
				<ul class="task-page__tabs-list ml-20">
					<li class="task-page__tabs-item">Типы сертификатов</li>
					<li class="task-page__tabs-item active">Использование сертификатов</li>
					<li class="task-page__tabs-item">Реестр сертификатов</li>
				</ul>				
				
		</div>
		<div class="schedule__body">
								<table class="schedule__content-column white">
										<thead class="schedule__content-column-head">
												<tr>
														<th class="w-50pr">
																Название
														</th>
														<th class="title-phone">
															Номинал
														</th>
														<th class="">
															Цена
														</th>
														<th class="">
															Продано
														</th>
														<th class="">
															Использовано
														</th>														
												</tr>
										</thead>
										<tbody>
												<tr>
														<td class="blue-text bold">
															-40 ламинирование ресниц					
														</td>
														<td class="bold">
															500
														</td>
														<<td class="bold">500</td>
														<td>0</td>
														<td>0</td>
												
										</tbody>
								</table>
								
					</div>
		
	</div>

</main>

{% endblock %} 

	
