{% extends "template-form.html" %}	

{% block content %}	
<!--Плашки в расписании -->

<div class="record-block height-2 yellow">
		<div class="record-block__item lg">
				<div class="record-block__item-wrap">
					<span class="record-block__item-time">14.00-15.00</span>
					<span class="record-block__item-name" title="Мороз Виктория">Мороз Виктория</span>
				</div>	
			<span class="record-block__item-time">Наращивание ресниц</span>
		</div>
		<div class="record-block__item">
				<span class="label label_gray lang">Потенциальный</span>
			<span class="record-block__item-price">550грн</span>
		</div>
	</div>


<!--кнопки для закрытия и редактирования форм-->
<button class="panel-redact"><i class="icon icon-pencil-gray" aria-hidden="true"></i></button>
<button class="panel-redact blue"><i class="icon icon-pencil-gray" aria-hidden="true"></i></button>
<button class="panel-redact braun-bg"><i class="icon icon-pencil-gray" aria-hidden="true"></i></button>
<button class="panel-close">×</button>
<button class="panel-close red-bg">×</button>
<button class="panel-close green-bg">×</button>
<button class="panel-close braun-bg">×</button>
<button class="panel-download green-bg"><i class="icon icon-download"></i></button>
<button class="panel-close red">×</button>
<button class="panel-close">×</button>
<button type="button" class="form-close">×</button>

<button class="plus-button green"><i class="fa fa-plus" aria-hidden="true"></i></button>
<button class="plus-button md green"><i class="fa fa-plus" aria-hidden="true"></i></button>

<!--статусы клиентов -->
<span class="label label_orange lang" title="Постоянный">Постоянный</span>
<span class="label label_gray lang" title="Потенциальный">Потенциальный</span>
<span class="label label_blue lang" title="Разовый">Разовый</span>
<span class="label label_green lang" title="Активный">Активный</span>
<span class="label label_orange lang" title="Постоянный">Постоянный</span>
<span class="label label_purple lang" title="Бывший">Бывший</span>


<!--статусы оплаты в таблице -->
<span class="label label_red lang">Оплачен</span>
<span class="label label_green lang">Не оплачен</span>

<!--статусы оплаты в фильтре -->
<div class="checkbox-wrap green">
		<input type="checkbox" class="checkbox">
		<label for="checkbox" class="check-label">оплачен</label>
</div>
<div class="checkbox-wrap braun">
		<input type="checkbox" class="checkbox">
		<label for="checkbox" class="check-label">не оплачен</label>
</div>

<!--статусы выполнения услуг -->

<label for="checkbox" class="check-label color border-green" title="осблуживание завершено">осблуживание завершено</label>
<label for="checkbox" class="check-label color border-yellow" title="подтверждена">подтверждена</label>
<label for="checkbox" class="check-label color border-purple" title="обслуживается">обслуживается</label>
<label for="checkbox" class="check-label color border-blue" title="запланировано">запланировано</label>
<label for="checkbox" class="check-label color border-braun" title="выполнено">выполнено</label>
<label for="checkbox" class="check-label color border-gray" title="визит отменен">визит отменен</label>

<!--alerts -->
<div class="alert alert-warning">
	<i class="fa fa-info-circle" aria-hidden="true"></i>
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<span>При добавлении записи необходимо соблюдать орфографию</span>
</div>

<!--вкл/выкл -->
<label class="shut" for="">выкл</label></td>
<label class="incl" for="">	вкл</label></td>


<!--form elements-->

<div class="input-wrap error">
	<label for="" class="swipe-label">E-mail</label>
	<input type="text" class="swipe-input">
	<span class="error-text">Неверный e-mail или пароль</span>
</div>

<div class="input-wrap">
	<label for="" class="swipe-label">E-mail</label>
	<input type="text" class="swipe-input">        
</div>

<div class="datepicker-wrap">
	<input type="text" class="swipe-input add-rec-datepicker" placeholder="16.11.2017">                    
	<i class="icon icon-calendar form-calendar-button add-rec-datepicker" aria-hidden="true"></i>
</div>

<div class="checkbox-wrap">
	<input type="checkbox" class="checkbox">
	<label for="checkbox" class="check-label">срочно</label>
</div>

<div class="datepicker-wrap"> <!--календарь add-rec-datepicker меняется в конфиге main.js-->
	<input type="text" class="swipe-input add-rec-datepicker" placeholder="16.11.2017">                    
	<i class="icon icon-calendar form-calendar-button add-rec-datepicker" aria-hidden="true"></i>
</div>

<div class="input-wrap">
	<select class="swipe-select" ref="master">
		<option value="0" data-display="Выберите специалиста">Выберите специалиста</option>
		<option value="1">Выберите специалиста</option>
		<option value="2">Анна Янкова</option>        
	</select>
</div>

<div class="input-wrap"><!--динамические формы с добавлением полей-->
		<label for="" class="swipe-label">E-mail</label>
		<div class="dyn-input-wrap">
			<input type="text" class="swipe-input" id="dyn2" name="dyn2">                        
		</div>
	</div>

<div class="input-wrap">
	<label for="" class="swipe-label">Предпочитает обслуживаться у мастеров:</label>
	<select class="multiple-select-2"  name="states[]" multiple="multiple">
		<option value="1">Анна Иванова</option>
		<option value="2">Марина Петрова</span></option>
		<option value="3">Вероника Шевченко</span></option>
		<option value="4">Маргарита Кравцова</option>
	</select>
	<div class="multiple-select-drop multiple-select-drop-2"></div>
</div>

<div class="input-wrap clearfix">
	<label for="" class="swipe-label">Источник общения</label>
	<select class="swipe-select swipe-input" ref="master">
			<option value="0" data-display="Сайт">Сайт</option>                       
			<option value="2">Телефон</option>
			<option value="2">E-mail</option>
			<option value="2">Viber</option>        
	</select>
</div> 	

<div class="input-wrap dable-input-wrap">
		<label for="" class="swipe-label">Кол-во</label>
		<input type="text" class="swipe-input" placeholder="от">
		<span class="tire">-</span>
		<input type="text" class="swipe-input" placeholder="до">					
</div>

<div class="input-wrap dable-input-wrap">										
		<select class="swipe-select swipe-input" ref="master">
				<option value="0" data-display="09">09</option>                       
				<option value="2">10</option>
				<option value="2">11</option>
				<option value="2">12</option>        
		</select>
		<span class="tire">:</span>
		<select class="swipe-select swipe-input" ref="master">
				<option value="0" data-display="00">00</option>                       
				<option value="2">10</option>
				<option value="2">20</option>
				<option value="2">30</option>        
	</select>					
</div>

<div class="input-wrap">
		<label for="" class="swipe-label">Большое поле</label>
		<textarea type="text" class="swipe-textarea"></textarea>
	</div>

	<div class="input-wrap">
			<label for="" class="swipe-label">среднее оле</label>
			<textarea type="text" class="swipe-textarea middle"></textarea>
		</div>

	<div class="input-wrap">
			<label for="" class="swipe-label">маленькое поле</label>
			<textarea type="text" class="swipe-textarea min"></textarea>
		</div>

		<div class="counter-block">
				<div class="input-wrap">
					<label for="" class="swipe-label sm">Шаг сетки, мин</label>
					<div class="counter-wrap clearfix">
							<a class="triangle-top"><i class="pointer_top"></i></a>
							<input type="text" value="0" class="counter tc swipe-input" name="set" placeholder="">
							<a class="triangle-bottom"><i class="pointer_bottom"></i></a>
					</div> 
				</div>
				<div class="input-wrap">
						<label for="" class="swipe-label">чч.мм.сс.</label>
						<input type="text" class="swipe-input" placeholder="09.00.00">
					</div>
			</div>

			<div class="input-wrap">
					<label for="" class="swipe-label">Цены в салонах (грн)</label>
					<div class="input-wrap horisontal">
						<span>Lash.Moda Praga</span>
						<input type="text" class="swipe-input">
					</div>
					<div class="input-wrap horisontal">
						<span>Lash.Moda Kiev</span>
						<input type="text" class="swipe-input">
					</div>
			</div>

			<div class="input-wrap">
					<label for="" class="swipe-label">Цены в салонах (грн)</label>
					<div class="input-wrap horisontal">
						<span>Lash.Moda Praga</span>
						<input type="text" class="swipe-input sm">
					</div>
					<div class="input-wrap horisontal">
						<span>Lash.Moda Kiev</span>
						<input type="text" class="swipe-input sm">
					</div>
			</div>
<!--заголовок на сером фоне-->
<div class="title-block gray">
	<p class="title">Лучшие администраторы</p>
</div>


<!--switch-->
<div class="switch-wrap">
														 						
				<label>
						<input type="checkbox" class="switch green bigswitch" checked="">
						<div>
								<div>
								</div>
						</div>
				</label>
</div>

<div class="switch-wrap input-wrap">
		<span class="switsh-label">Активность сценария
			<label>
					<input type="checkbox" class="switch green bigswitch" checked="">
					<div>
							<div>
							</div>
					</div>
			</label>
		</span>
</div>

<div class="switch-wrap">
		<span class="switsh-label">Доступ к IP-телефонии Lira</span>                                                  						
				<label>
						<input type="checkbox" class="switch green bigswitch" checked="">
						<div>
								<div>
								</div>
						</div>
				</label>
</div>

<div class="switch-wrap">
	<span class="switsh-label">Добавлять нового клиента</span>
	<label>
		<input type="checkbox" class="switch green bigswitch" checked="">
		<div>
			<div>
			</div>
		</div>
	</label>
</div>

<!--text-->
<p class="green-text">мама мыла раму</p>
<p class="bold green-text">мама мыла раму</p>
<p class="blue-text">мама мыла раму</p>
<p class="bold blue-text">мама мыла раму</p>
<p class="black-text">мама мыла раму</p>
<p class="bold black-text">мама мыла раму</p>		
<p class="red-text">мама мыла раму</p>
<p class="bold red-text">мама мыла раму</p>	


<div class="sortable__tools-block">
	<button class="sortable-button edit js-edit"><i class="icon icon-pencil-gray" aria-hidden="true"></i></button>
	<button class="sortable-button del js-del"><i class="icon icon-close" aria-hidden="true"></i></button>
	<button class="sortable-button look js-look disabled">
		<i class="icon icon-eye-green-on" aria-hidden="true"></i>
		<i class="icon icon-eye-gray-off" aria-hidden="true"></i>
	</button>
</div>

{% endblock %} 
