{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="storage-page page-width-sidebar">
		<div class="content-wrap flex">
				{% include "sidebar.html" %}
			<div class="content col">
					<div class="title-block title-braun">
							<p class="title">Справочник</p>  
							<button class="button red trans">Сохранить</button> 
					</div>
					<ul class="breadcrumbs__list brd-bot">
							<li class="breadcrumbs__item">								
								<a href="">Настройки</a>
							</li>
							<li class="breadcrumbs__item">
								<a href="">Справочник</a>
							</li>						
						</ul>
						<button class="button big-button light-braun trans js-add-directory">+ Добавить</button>
						<div class="element-wrap">
								<ul id="sortable" class="sortable__list">
										<li class="sortable__item">
												<div class="sortable__item-head">
													<i class="icon icon-drop-icon ui-icon-arrowthick"></i>
													<div class="sortable__title-block blue-text">
														Социальные сети
													</div>
												</div>
												<div class="sortable__nav-block fend">												
													<div class="sortable__tools-block">													
														<button class="sortable-button del js-del"><i class="icon icon-close-sm" aria-hidden="true"></i></button>
														<button class="sortable-button look_on">
																<i class="icon icon-eye-green-on icon-on" ></i>
																<i class="icon icon-eye-gray-off icon-off"></i>
														 </button>
													</div>
												</div>
											</li>
									<li class="sortable__item">
											<div class="sortable__item-head">
												<i class="icon icon-drop-icon ui-icon-arrowthick"></i>
												<div class="sortable__title-block blue-text">
													Реклама
												</div>
											</div>
											<div class="sortable__nav-block fend">												
												<div class="sortable__tools-block">													
													<button class="sortable-button del js-del"><i class="icon icon-close-sm" aria-hidden="true"></i></button>
													<button class="sortable-button look_on">
															<i class="icon icon-eye-green-on icon-on" ></i>
															<i class="icon icon-eye-gray-off icon-off"></i>
													 </button>
												</div>
											</div>
										</li>
										<li class="sortable__item">
												<div class="sortable__item-head">
													<i class="icon icon-drop-icon ui-icon-arrowthick"></i>
													<div class="sortable__title-block blue-text">
														Совет друзей
													</div>
												</div>
												<div class="sortable__nav-block fend">													
													<div class="sortable__tools-block">													
														<button class="sortable-button del js-del"><i class="icon icon-close-sm" aria-hidden="true"></i></button>
														<button class="sortable-button look_on">
																<i class="icon icon-eye-green-on icon-on" ></i>
																<i class="icon icon-eye-gray-off icon-off"></i>
														 </button>
													</div>
												</div>
											</li>	
											<li class="sortable__item">
													<div class="sortable__item-head">
														<i class="icon icon-drop-icon ui-icon-arrowthick"></i>
														<div class="sortable__title-block blue-text">
														Другое
														</div>
													</div>
													<div class="sortable__nav-block fend">													
														<div class="sortable__tools-block">													
															<button class="sortable-button del js-del"><i class="icon icon-close-sm" aria-hidden="true"></i></button>
															<button class="sortable-button look_off">
																	<i class="icon icon-eye-green-on icon-on" ></i>
																	<i class="icon icon-eye-gray-off icon-off"></i>
															 </button>
														</div>
													</div>
												</li>									
								</ul>
						</div>				
			</div>
		</div>
</main>

{% endblock %} 

	
