{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="discounts-page">
	<div class="tools">
		
	</div>

	<div class="table-page">
		<div class="table-page__head">
				<div class="table-page__head_left">	
					<h1 class="title">Cкидки</h1>
					<button class="button green trans js-add-discounts">
							+ Создать скидку
					</button>
				</div>
			
		</div>
		<div class="schedule__body">
								<table class="schedule__content-column white">
										<thead class="schedule__content-column-head">
												<tr>
														<th class="w-50pr">
																	Название
														</th>
														<th class="title-phone">
															Размер
														</th>
														<th class="">
															Лимит
														</th>
														<th class="">
															Кол-во использований
														</th>													
												</tr>
										</thead>
										<tbody>
												<tr>
														<td class="blue-text bold">
															-40 ламинирование ресниц					
														</td>
														<td>
															40%
														</td>
														<td>0</td>
														<td>0</td>
													
												
										</tbody>
								</table>
								
					</div>
		
	</div>

</main>

{% endblock %} 

	
