{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="import-page page-width-sidebar">
		<div class="content-wrap flex">
				{% include "sidebar.html" %}
			<div class="content col">
					<div class="title-block title-braun">
							<p class="title">Импорт документа</p>							 
					</div>
					<ul class="import__nav-list">
						<li class="import__nav-item">
							Загрузка файла
						</li>
						<li class="import__nav-item active">
							Соответствие полей
						</li>
						<li class="import__nav-item">
								Старт импорта
						</li>
						<li class="import__nav-item">
							Результат
						</li>
					</ul>
					<div class="element-wrap part-1">
						<div class="download-block">
							<p class="num">57%</p>
							<div class="download-block__line">
								<span class="download-block__value" style="width: 57%"></span>
							</div>
							<button class="button green w-100pr trans">Выбрать файл</button>
						</div>
					</div>
				
				
		</div>
</main>

{% endblock %} 

	
