{% extends "template-form.html" %}

{% block content %}	

<div class="login-page">
	<div class="login-page__block">
		<div class="login-page__header">
			<div class="logo-wrap">
				<img src="images/logo.png" alt="">
			</div>
		</div>		
		<!--блок для входа-->
		<div class="login-block">
				<div class="login-page__title-block">
				<p class="login-page__title">Вход в систему</p>
			</div>
			<div class="login-page__body">
				<form action="" class="login-form">
					<div class="input-wrap">
						<label for="" class="swipe-label">E-mail</label>
						<input type="text" class="swipe-input">
						<span class="error-text">Неверный e-mail или пароль</span>
					</div>
					<div class="input-wrap error">
						<label for="" class="swipe-label">Пароль</label>
						<input type="password" class="swipe-input">
						<span class="error-text">Неверный e-mail или пароль</span>
					</div>				
					<button class="login-button button green trans">Войти</button>
					<div class="login-page__nav">
						<div class="checkbox-wrap">
							<input type="checkbox" class="checkbox">
							<label for="checkbox" class="check-label">Запомнить меня</label>
						</div>
						<a href="" class="form-link">Забыли пароль?</a>
					</div>
				</form>
			</div>
			<div class="login-page__footer">
				<p class="login-page__footer-title"><span>или войти через</span></p>
				<div class="button-wrap">
					<button class="button blue trans">Facebook</button>
					<button class="button dark-red trans">Google</button>
				</div>			
			</div>
		</div>
		<!--блок для восстановления пароля-->
		<!--<div class="pass-forgot-block">
			<div class="login-page__title-block">
				<p class="login-page__title">Воввтановление пароля</p>
			</div>
			<div class="login-page__body">
				<form action="" class="login-form">
					<p class="login-page__text">Пожалуйста, введите ваш email и мы отправим вам письмо с инструкцией по	восстановлению пароля.</p>
					<div class="input-wrap">
						<label for="" class="swipe-label">E-mail</label>
						<input type="text" class="swipe-input">							
					</div>
					<button class="login-button button green trans">Отправить</button>						
					<div class="login-page__nav">							
						<a href="" class="form-link">
							<i class="pointer_left sm blue"></i>
							Вернуться назад
						</a>
					</div>
				</form>
			</div>				
		</div>-->
		<!--письмо отправлено-->
		<!--<div class="mail-sent">
			<div class="login-page__title-block">
				<p class="login-page__title">Письмо отправлено</p>
			</div>
			<div class="login-page__body">
				<form action="" class="login-form">
					<p class="login-page__text">Мы отправили письмо с инструкцией по восстановлению на <span>gmail@gmail.com</span></p>						
										
					<div class="login-page__nav">							
						<a href="" class="form-link">
							<i class="pointer_left sm blue"></i>
							Вернуться назад
						</a>
					</div>
				</form>
			</div>				
		</div>-->		
	</div>		
</div>


{% endblock %} 