{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="main-menu-page page-width-sidebar">
		<div class="content-wrap flex">
				{% include "sidebar.html" %}
			<div class="content col">
					<div class="title-block title-braun">
							<p class="title">
                                Общие натройки UI
                            </p>  
							<button class="button red trans">Сохранить</button> 
					</div>
				
						
						<div class="element-wrap">
                            <div class="main-menu__list">
                                <div class="input-wrap clearfix">
                                    <label for="" class="swipe-label">Маска для номера телефона</label>
                                    <input class="swipe-input" placeholder="+380935555555"></input>
                                </div>                              
                            </div>    
						</div>				
			</div>
		</div>
</main>

{% endblock %} 

	
