{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="main-menu-page page-width-sidebar">
		<div class="content-wrap flex">
				{% include "sidebar.html" %}
			<div class="content col">
					<div class="title-block title-braun">
							<p class="title">IP-телефония</p>  
							<button class="button red trans">Сохранить</button> 
					</div>
					<ul class="breadcrumbs__list brd-bottom">
							<li class="breadcrumbs__item">								
								<a href="">Настройки</a>
							</li>
							<li class="breadcrumbs__item">
								<a href="">Основные натсройки</a>
							</li>						
						</ul>						
						<div class="element-wrap">
								<div class="main-menu__list">	
											<div class="input-wrap clearfix">
													<label for="" class="swipe-label">Сервис IP-телефонии</label>
													<select class="swipe-select swipe-input" ref="master">
															<option value="0" data-display="Сервис-1">Сервис-1</option>
															<option value="1">Сервис-2</option>
															<option value="2">Сервис-3</option>        
													</select>
											</div>
										<div class="input-wrap clearfix">
												<label for="" class="swipe-label">Логин</label>
												<input class="swipe-input" type="text" placeholder="lashmoda"></input>
										</div>
										<div class="input-wrap clearfix">
												<label for="" class="swipe-label">Пароль</label>
												<input class="swipe-input" type="password"></input>
										</div>
										<div class="input-wrap clearfix">
												<label for="" class="swipe-label">Ключ (токен) API</label>
												<input class="swipe-input" type="text"></input>
										</div>
								</div>    
						</div>				
			</div>
		</div>
</main>

{% endblock %} 

	
