{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="payroll-page">
	<div class="tools">		
		
	</div>

	<div class="table-page">
		<div class="table-page__head">
				<div class="table-page__head_left">	
					<h1 class="title">Начисление зарплаты</h1>					
				</div>
						
		</div>
		
		<div class="schedule__body">
			<table class="schedule__content-column white">
				<thead class="schedule__content-column-head">
					<tr>
						<th class="w-7pr">#</th>
						<th>дата</th>
						<th class="w-20pr">салон</th>
                        <th class="w-20pr">период начисления</th>
                        <th>начислено, грн</th>
                        <th>выплачено, грн</th>
                        <th>остаток, грн</th>						
					</tr>
				</thead>
				<tbody>
					<tr>
                        <td>255</td>
                        <td class="blue-text link js-add-payroll"> 17.12.18 <span class="time-text">10:45</span></td>
                        <td>Lash.Moda Praga</td>
                        <td>10.10 2018-10.11 2018</td>
                        <td class="green-text">25000</td>
                        <td class="green-text">25000</td>                        
                        <td>5000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td class="blue-text link js-add-payroll"> 17.12.18 <span class="time-text">10:45</span></td>
                        <td>Lash.Moda Praga</td>
                        <td>10.10 2018-10.11 2018</td>
                        <td class="green-text">25000</td>
                        <td class="green-text">25000</td>                        
                        <td>5000</td>
					</tr>					
				</tbody>
			</table>
			
		</div>
		
	</div>

</main>

{% endblock %} 

	
