{% extends "template.html" %}	

{% block content %}	

<main class="product-page">
	<div class="tools">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item">
				<i class="fa fa-home" aria-hidden="true"></i>
				<a href="">Главная</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="">Товары</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="">Добавление товара</a>
			</li>				
		</ul>
		
	</div>

	<div class="table-page">
		<div class="table-page__head">
			<div class="table-page__head_left">	
				<h1 class="title">Rowenta G55</h1>					
			</div>
			<div class="table-page__head_right">
				<div class="button-block flex">
					<button class="button gray-border trans">
							<i class="pointer_left sm"></i>
						Назад к списку клиентов
					</button>
					<button class="button green trans">Сохранить</button>
					<button class="button red trans">Удалить</button>
				</div>
			</div>					
		</div>
		<div class="content white pad brd-top">
			<form action="" class="main-form w-1030px">
				<div class="main-form__column_1">
					<div class="input-wrap">
							<label for="" class="swipe-label">Название</label>
							<input type="text" class="swipe-input">					
					</div>
					<div class="input-wrap">
							<label for="" class="swipe-label">Артикул</label>
							<input type="text" class="swipe-input">					
					</div>
					<div class="input-wrap">
							<label for="" class="swipe-label">Цена продажи, грн</label>
							<input type="text" class="swipe-input">					
					</div>
				</div>
				<div class="main-form__column_1">						
					<div class="input-wrap clearfix">
						<label for="" class="swipe-label">Категория</label>
						<select class="swipe-select swipe-input" ref="master">
							<option value="0" data-display="Для волос">Для волос</option>                       
							<option value="2">Категория-2</option>
							<option value="2">Категория-3</option>
							<option value="2">Очень длинная категория Категория-4</option>        
						</select>
					</div> 					
						<div class="input-wrap">
								<label for="" class="swipe-label">Штрихкод</label>
								<input type="text" class="swipe-input">					
						</div>
					</div>
					<div class="main-form__column_1 thin">
							<div class="input-wrap dz-clickable" id="fall">	
								<div class="drop-button-wrap">
									<button type="button" class="button green-border trans">Загрузить фото</button>
								</div>
							</div>
					</div>
					<div class="main-form__column-wrap">							
						<div class="main-form__column_2">
							<p for="" class="swipe-label">Единицы измерения</p>								
								<div class="input-wrap horisontal">
									<label for="" class="swipe-label">Для продажи</label>
									<select class="swipe-select swipe-input" ref="master">
											<option value="0" data-display="Штука">Штука</option>                       
											<option value="2">Категория-2</option>
											<option value="2">Категория-3</option>
											<option value="2">Очень длинная категория Категория-4</option>        
										</select>
								</div>
						</div>
						<div class="main-form__column_2">						
								<div class="input-wrap horisontal">
									<label for="" class="swipe-label">Равно = </label>
									<input type="text" class="swipe-input">	
								</div>
						</div>
						<div class="main-form__column_2">								
								<div class="input-wrap horisontal">
									<label for="" class="swipe-label">Для списания</label>
									<select class="swipe-select swipe-input" ref="master">
											<option value="0" data-display="Милилитр">Милилитр</option>                       
											<option value="2">Категория-2</option>
											<option value="2">Категория-3</option>
											<option value="2">Очень длинная категория Категория-4</option>        
										</select>
								</div>
						</div>	
					</div>
					<div class="main-form__column-wrap">						
						<div class="main-form__column_2">
								<label for="" class="swipe-label">Критичный остаток, шт</label>								
								<div class="input-wrap">
									<input type="text" class="swipe-input">	
								</div>
						</div>
						<div class="main-form__column_2">
								<label for="" class="swipe-label">Массы</label>							
								<div class="input-wrap horisontal">								
									<label for="" class="swipe-label">Масса нетто</label>
									<input type="text" class="swipe-input">	
								</div>
						</div>
						<div class="main-form__column_2">
								<label for="" class="swipe-label"></label>									
								<div class="input-wrap horisontal">
										<label for="" class="swipe-label">Масса брутто</label>
										<input type="text" class="swipe-input">	
								</div>
						</div>	
					</div>
					<div class="input-wrap">
							<label for="" class="swipe-label">Комментарий</label>
							<textarea type="text" class="swipe-textarea">	</textarea>
					</div>
			</form>
		</div>
	</div>

</main>

{% endblock %} 

	
