{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="balance-counter-page">
	<div class="tools">
		
		
	</div>

	<div class="table-page white">
		<div class="table-page__head">
				<div class="table-page__head_left">	
					<h1 class="title">Баланс контрагентов</h1>				
				</div>
				<div class="table-page__head_right flex">					
					<div class="datepicker-block">						
							<div class="datepicker-wrap">							
									<input type="text" class="swipe-input datepicker-1 input-1" placeholder="16.11.2017">                    
									<i class="icon icon-calendar form-calendar-button datepicker-1" aria-hidden="true"></i>
							</div>
							<span class="tire">-</span>
							<div class="datepicker-wrap">
									<input type="text" class="swipe-input datepicker-2 input-2" placeholder="16.11.2017">                    
									<i class="icon icon-calendar form-calendar-button datepicker-2" aria-hidden="true"></i>
							</div>
					</div>
					<button class="button green trans">Показать</button>	
				</div>			
		</div>		
		<div class="subtitle-block white-bg brd-top flex sb aic">
			<span class="subtitle__link">Основной контрагент <i class="pointer_bottom blue"></i></span>
			
		</div>
		<div class="schedule__body">                
			<table class="schedule__content-column white">
				<thead class="schedule__content-column-head">
					<tr>
						<th class="w-10pr">
							Дата документа
						</th>
						<th class="w-15pr">
							Вид документа
						</th>
						<th class="">
							Номер документа
						</th>
						<th class="">
							Вид оплаты
						</th>
						<th class="">
							Приход, грн
						</th>
						<th class="">
							Расход, грн
                        </th>
                        <th class="">
							Баланс, грн
                        </th>
                        <th class="w-20pr">
                            Комментарий
                        </th>											
					</tr>
				</thead>
				<tbody>
                    <tr class="schedule__content-column-subhead">
                        <td colspan="8">
                            Остаток на начало периода: <span class="text-green">4 500 <i>грн.</i></span> 
                        </td>
                    </tr>
					<tr>
						<td>08.11.2018</td>
						<td >Приход склад</td>
						<td>2 580</td>
						<td>наличные</td>
						<td class="green-text">1 252</td>					
                        <td class="red-text">-2 556</td>
                        <td class="bold">362 556</td>
                        <td>Часто платит наличными</td>																
					</tr>
					<tr>
                        <td>18.11.2018</td>
                        <td >Приход склад</td>
                        <td>2 580</td>
                        <td>наличные</td>
                        <td class="green-text">1 252</td>					
                        <td class="red-text">-2 556</td>
                        <td class="bold">362 556</td>
                        <td>Часто платит наличными</td>															
                    </tr>					
					<tr class="schedule__content-column-footer blue-bg">
						<td>Итого</td>
						<td></td>
						<td></td>
						<td></td>										
                        <td class="green-text"> 2 556</td>
                        <td class="red-text"> -2 556</td>
                        <td>322 000</td>
                        <td></td>														
					</tr>
				</tbody>
			</table>		
		</div>
		<div class="subtitle-block white-bg flex sb aic mt-10">
                <span class="subtitle__link">Второй контрагент <i class="pointer_bottom blue"></i></span>
                
            </div>
            <div class="schedule__body">                
                <table class="schedule__content-column white">
                    <thead class="schedule__content-column-head">
                        <tr>
                            <th class="w-10pr">
                                Дата документа
                            </th>
                            <th class="w-15pr">
                                Вид документа
                            </th>
                            <th class="">
                                Номер документа
                            </th>
                            <th class="">
                                Вид оплаты
                            </th>
                            <th class="">
                                Приход, грн
                            </th>
                            <th class="">
                                Расход, грн
                            </th>
                            <th class="">
                                Баланс, грн
                            </th>
                            <th class="w-20pr">
                                Комментарий
                            </th>											
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="schedule__content-column-subhead">
                            <td colspan="8">
                                Остаток на начало периода: <span class="text-green">4 500 <i>грн.</i></span> 
                            </td>
                        </tr>
                        <tr>
                            <td>08.11.2018</td>
                            <td >Приход склад</td>
                            <td>2 580</td>
                            <td>наличные</td>
                            <td class="green-text">1 252</td>					
                            <td class="red-text">-2 556</td>
                            <td class="bold">362 556</td>
                            <td>Часто платит наличными</td>																
                        </tr>
                        <tr>
                            <td>18.11.2018</td>
                            <td >Приход склад</td>
                            <td>2 580</td>
                            <td>наличные</td>
                            <td class="green-text">1 252</td>					
                            <td class="red-text">-2 556</td>
                            <td class="bold">362 556</td>
                            <td>Часто платит наличными</td>															
                        </tr>					
                        <tr class="schedule__content-column-footer blue-bg">
                            <td>Итого</td>
                            <td></td>
                            <td></td>
                            <td></td>										
                            <td class="green-text"> 2 556</td>
                            <td class="red-text"> -2 556</td>
                            <td>322 000</td>
                            <td></td>														
                        </tr>
                    </tbody>
                </table>		
            </div>
	</div>

</main>

{% endblock %} 

	
