{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="role-page">
	<div class="tools">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item">
				<i class="fa fa-home" aria-hidden="true"></i>
				<a href="">Главная</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="">Роли</a>
			</li>			
		</ul>
		
	</div>

	<div class="table-page white">
		<div class="table-page__head">
				<div class="table-page__head_left">	
						<h1 class="title">Настройка ролей</h1>
						<button class="button green trans role-add__button">
								+ Добавить роль
						</button>
						<div class="swipe-window role-add__block">
							<div class="swipe-window__form">
									<div class="input-wrap">									
											<input type="text" class="swipe-input" placeholder="Название роли">	
									</div>
									<button class="button braun trans">Сохранить</button>
							</div>
						</div>
				</div>
		</div>
		<div class="role__wrap">
			<ul class="role__list role__list-1">
				<li class="role__item-head">
					Роли
				</li>
				<li class="role__item active">
					<div class="switch-wrap">
						<p class="role__item-title">Администратор системы</p>							
							<label>
								<input type="checkbox" class="switch green bigswitch" checked />
								<div>
									<div>
									</div>
								</div>
							</label>
					</div>
				</li>
				<li class="role__item">
					<div class="switch-wrap">
						<p class="role__item-title">Директор салона	</p>													
							<label>
								<input type="checkbox" class="switch green bigswitch" checked />
								<div class="switch">
									<div>
									</div>
								</div>
							</label>
					</div>
				</li>
				<li class="role__item">
					<div class="switch-wrap">
						<p class="role__item-title">Директор салона (старший администратор)	</p>													
							<label>
								<input type="checkbox" class="switch green bigswitch" checked />
								<div>
									<div>
									</div>
								</div>
							</label>
					</div>
				</li>
				<li class="role__item">					
					<div class="switch-wrap">
						<p class="role__item-title">Директор салона</p>												
						<label>
							<input type="checkbox" class="switch green bigswitch" checked />
							<div>
								<div>
								</div>
							</div>
						</label>
					</div>
				</li>
				<li class="role__item">					
					<div class="switch-wrap">
						<p class="role__item-title">Мастер</p>												
						<label>
							<input type="checkbox" class="switch green bigswitch" checked />
							<div>
								<div>
								</div>
							</div>
						</label>
					</div>
				</li>
			</ul>
			<ul class="role__list role__list-2">
				<li class="role__item-head">
					<p class="role__item-title">
							Администратор системы
					</p>						
				</li>
				<li class="role__item">
					<span>Модули</span>	
				</li>
				<li class="role__item">
					<div class="checkbox-wrap">
						<input type="checkbox" class="checkbox">
						<label for="checkbox" class="check-label role__item-title">Входящие</label>
					</div>
				</li>
				<li class="role__item">
					<div class="checkbox-wrap">
						<input type="checkbox" class="checkbox">
						<label for="checkbox" class="check-label role__item-title">Задачи</label>
					</div>
				</li>
				<li class="role__item active">
					<div class="checkbox-wrap">
						<input type="checkbox" class="checkbox">
						<label for="checkbox" class="check-label role__item-title">Клиенты</label>
					</div>
				</li>
				<li class="role__item">
					<div class="checkbox-wrap">
						<input type="checkbox" class="checkbox">
						<label for="checkbox" class="check-label role__item-title">Коммуникация</label>
					</div>
				</li>
				<ul class="role__sublist">
					<li class="role__subitem">
						<div class="checkbox-wrap">
							<input type="checkbox" class="checkbox">
							<label for="checkbox" class="check-label role__item-title">Журнал SMS</label>
						</div>
					</li>
					<li class="role__subitem">
						<div class="checkbox-wrap">
							<input type="checkbox" class="checkbox">
							<label for="checkbox" class="check-label role__item-title">Звонки</label>
						</div>
					</li>
					<li class="role__subitem">
						<div class="checkbox-wrap">
							<input type="checkbox" class="checkbox">
							<label for="checkbox" class="check-label role__item-title">Триггеры</label>
						</div>
					</li>
					<li class="role__subitem">
						<div class="checkbox-wrap">
							<input type="checkbox" class="checkbox">
							<label for="checkbox" class="check-label role__item-title">Шаблоны SMS</label>
						</div>
					</li>
				</ul>		
			</ul>
			<ul class="role__list role__list-3">
					<li class="role__item-head">
						Клиенты
					</li>
					<li class="role__item">
						<div class="switch-wrap">
							<p class="role__item-title">Добавлять нового клиента</p>							
								<label>
									<input type="checkbox" class="switch green bigswitch" checked />
									<div>
										<div>
										</div>
									</div>
								</label>
						</div>
					</li>
					<li class="role__item">
						<div class="switch-wrap">
							<p class="role__item-title">Удалять клиента</p>													
								<label>
									<input type="checkbox" class="switch green bigswitch" checked />
									<div>
										<div>
										</div>
									</div>
								</label>
						</div>
					</li>
					<li class="role__item">
						<div class="switch-wrap">
							<p class="role__item-title">Редактировать карточку клиента</p>													
								<label>
									<input type="checkbox" class="switch green bigswitch" checked />
									<div>
										<div>
										</div>
									</div>
								</label>
						</div>
					</li>
					<li class="role__item">					
						<div class="switch-wrap">
							<p class="role__item-title">Просмотр списка клиентов</p>												
							<label>
								<input type="checkbox" class="switch green bigswitch" checked />
								<div>
									<div>
									</div>
								</div>
							</label>
						</div>
					</li>					
				</ul>

				

		</div>
	</div>
</main>

{% endblock %} 

	
