{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="schedule-work-page">
	<div class="tools">
		
	</div>

	<div class="table-page">
		<div class="table-page__head">
			<div class="table-page__head_left">	
				<div class="input-wrap clearfix">
						<label for="" class="swipe-label">Салон</label>
						<select class="swipe-select swipe-input" ref="master">
								<option value="0" data-display="Lash.Moda Praga">Lash.Moda Praga</option>                       
								<option value="2">Lash.Moda Kiev</option>
								<option value="2">Lash.Moda New-York</option>
								<option value="2">Lash.Moda Praga Bratislava</option>        
						</select>
						</div>
						<div class="input-wrap clearfix">
								<label for="" class="swipe-label">Месяц</label>
						<select class="swipe-select swipe-input" ref="master">
								<option value="0" data-display="Месяц">Месяц</option>                       
								<option value="2">Январь</option>
								<option value="2">Февраль</option>
								<option value="2">Март</option>        
						</select>
					</div> 
				</div>
				<div class="table-page__head_right">	
					<ul class="mode__list">
						<li class="mode__item">
							<a href="">Быстрый режим</a>
						</li>
						<li class="mode__item active">
							<a href="">Ручной режим</a>
						</li>
						<li class="mode__item">
							<a href="">Табы</a>
						</li>
					</ul>
					<div class="button-block flex">				
						<button class="button green trans">Показать</button>				
					</div>
				</div>									
		</div>
		<div class="content white">
		<table class="schedule-work-table">
			<thead>
				<tr>
					<th class="title w-13pr">Мастер</th>
					<th>1<br>ср</th>
					<th>2<br>чт</th>
					<th>3<br>пт</th>
					<th class="free">4<br>сб</th>
					<th class="free">5<br>вс</th>
					<th>6<br>пн</th>
					<th>7<br>вт</th>
					<th>8<br>ср</th>
					<th>9<br>чт</th>
					<th>10<br>пт</th>
					<th class="free">11<br>сб</th>
					<th class="free">12<br>вс</th>
					<th>13<br>пн</th>
					<th>14<br>вт</th>
					<th>15<br>ср</th>
					<th>16<br>чт</th>
					<th>17<br>пт</th>
					<th class="free">18<br>сб</th>
					<th class="free">19<br>вс</th>
					<th>20<br>пн</th>
					<th>21<br>вт</th>
					<th>22<br>ср</th>
					<th>23<br>чт</th>
					<th>24<br>пт</th>
					<th class="free">25<br>сб</th>
					<th class="free">26<br>вс</th>
					<th>27<br>пн</th>
					<th>28<br>вт</th>
					<th>29<br>ср</th>
					<th>30<br>чт</th>
					<th>31<br>пт</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="name-wrap">
						<p class="name" title="Наталья Вязьмитинова">Наталья Вязьмитинова</p>
						<span class="info">Администратор</span>
						<span class="info">22/8</span>
					</td>
					<td class="work-time-active">
						<div class="work-time">
							<span>09:00</span>
							<span>18:00</span>
						</div>
					</td>
					<td class="work-time-active">
						<div class="work-time">
						<span>09:00</span>
						<span>18:00</span>
					</div>
				</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td class="free">
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td class="free">
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td class="work-time-active">
						<div class="work-time">
							<span>09:00</span>
							<span>20:00</span>
					</div>
				</td>
					<td class="work-time-active">
						<div class="work-time">
							<span>09:00</span>
							<span>18:00</span>
					</div>
				</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td class="free">
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td class="free">
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td class="free work-time-active">
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td class="free work-time-active">
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td class="work-time-active">
						<div class="work-time">
								<span>09:00</span>
								<span>18:00</span>
						</div>
					</td>
					<td class="work-time-active">
						<div class="work-time">
								<span>09:00</span>
								<span>18:00</span>
						</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td class="free">
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td class="free">
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
					<td>
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
					</td>
				</tr>

				<tr>
						<td class="name-wrap">
							<p class="name" title="Наталья Вязьмитинова">Екатерина Иванова</p>
							<span class="info">Лешмейкер</span>
							<span class="info">22/8</span>
						</td>
						<td class="work-time-active">
							<div class="work-time">
								<span>09:00</span>
								<span>18:00</span>
							</div>
						</td>
						<td class="work-time-active">
							<div class="work-time">
							<span>09:00</span>
							<span>18:00</span>
						</div>
					</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="work-time-active">
							<div class="work-time">
								<span>09:00</span>
								<span>20:00</span>
						</div>
					</td>
						<td class="work-time-active">
							<div class="work-time">
								<span>09:00</span>
								<span>18:00</span>
						</div>
					</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free work-time-active">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free work-time-active">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="work-time-active">
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
						</td>
						<td class="work-time-active">
							<div class="work-time">
									<span>09:00</span>
									<span>18:00</span>
							</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
				</tr>
				<tr>
						<td class="name-wrap">
							Маргарита Петрова
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td class="free">
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
						<td>
								<div class="work-time">
										<span>09:00</span>
										<span>18:00</span>
								</div>
						</td>
				</tr>
			
			</tbody>
		</table>
		</div>
	</div>

</main>

{% endblock %} 

	
