{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="storage-operation-page">
	<div class="tools">
		
		
	</div>

	<div class="table-page">
		<div class="table-page__head">
				<div class="table-page__head_left">	
					<h1 class="title">Складские операции</h1>
					<div class="button-wrap">
						<span class="page-filter-name">Создать</span>					
						<button class="button braun trans js-add-com">Приход</button>
						<button class="button braun trans js-add-rate">Расход</button>
						<button class="button braun trans js-add-move">Перемещение</button>
						<button class="button braun trans js-add-write-off">Списание</button>
						<button class="button braun trans js-add-inventory">Инвентаризация</button>
						<button class="button braun trans">Заказ (поставщику)</button>
					</div>                   
				</div>
				<div class="table-page__head_right">
					<div class="table-page__filter-nav">
						<p class="table-page__filter-link">
							<span class="del-text">- Свернуть фильтр</span>
							<span class="show-text">+ Показать фильтр</span>							
						</p>
						<div class="page-filter-wrap">
							<span class="page-filter-name">Показывать по:</span>
							<select class="swipe-select">
									<option data-display="10">10</option>
									<option value="1">20</option>
									<option value="2">30</option>									
									<option value="4">40</option>
								</select>
						</div>
					</div>
				</div>			
		</div>
		<div class="filter-wrap">
			<div class="table-page__filter">
				
				<div class="table-page__filter-top-block">
						<div class="datepicker-block">
								<label for="" class="swipe-label">Период</label>
								<div class="datepicker-wrap">							
										<input type="text" class="swipe-input datepicker-1 input-1" placeholder="16.11.2017">                    
										<i class="icon icon-calendar form-calendar-button datepicker-1" aria-hidden="true"></i>
								</div>
								<span class="tire">-</span>
								<div class="datepicker-wrap">
										<input type="text" class="swipe-input datepicker-2 input-2" placeholder="16.11.2017">                    
										<i class="icon icon-calendar form-calendar-button datepicker-2" aria-hidden="true"></i>
								</div>
						</div>
						<div class="input-wrap clearfix">
								<label for="" class="swipe-label">Склады</label>
								<select class="swipe-select swipe-input" ref="master">
										<option value="0" data-display="Выберите склад">Склад 1</option>                       
										<option value="2">Склад 2</option>
										<option value="2">Склад 3</option>
										<option value="2">Склад 4</option>        
								</select>
							</div> 	
							<div class="input-wrap clearfix">
									<label for="" class="swipe-label">Операции</label>
									<select class="swipe-select swipe-input" ref="master">
											<option value="0" data-display="Выберите тип операций">Операция</option>                       
											<option value="2">Операция-1</option>
											<option value="2">Операция-2</option>
											<option value="2">Операция-3</option>        
									</select>
								</div>
						</div>						
							<div class="table-page__filter-top-block">				 	
									<div class="input-wrap clearfix">
									<label for="" class="swipe-label">Услуги</label>
									<select class="swipe-select swipe-input" ref="master">
											<option value="0" data-display="Выберите услугу">Услуга-1</option>                       
											<option value="2">Услуга-1</option>
											<option value="2">Услуга-1</option>
											<option value="2">Услуга-1</option>        
									</select>
								</div>
								<div class="input-wrap">
										<label for="" class="swipe-label">Поиск по номеру документа</label>
										<input type="text" class="swipe-input">					
								</div>
								<div class="input-wrap">
														
								</div>
								<div class="input-wrap filter-button-block">
										<button class="button braun trans">Применить</button>
										<button class="button gray-border trans">Сброс</button>
								</div>						
							</div>
						</div>	
			<div class="table-page__filter-select">
					<span class="swipe-label">Шаблон фильтра:</span>
					<div class="input-wrap">
							<select class="swipe-select" data-placeholder="Короленко Фильтр-1" ref="master">
									<option value="0">Петрова Фильтр-1</option>
									<option value="21">Короленко Фильтр-2</option>
									<option value="8">Короленко Фильтр-3</option>
									<option value="9">Короленко Фильтр-4</option>									
							</select>
					</div>
					<div class="button-wrap">
							<button class="panel-redact braun-bg"><i class="icon icon-pencil-white"></i></button>
							<button class="panel-save braun-bg"><i class="icon icon-save-white"></i></i></button>
					</div>
			</div>
		</div>
		<div class="schedule__body">
			<table class="schedule__content-column white">
				<thead class="schedule__content-column-head">
					<tr>
						<th class="w-20pr">Дата</th>
						<th class="">№</th>
						<th class="">Тип</th>
						<th class="">Откуда</th>
						<th class="">Куда</th>
						<th class="">Сумма (грн)</th>
						<th class="w-15pr">Автор</th>						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class=""><i class="icon icon-pointer-bottom"></i> 17.12.18 <span class="time-text">10:45</span></td>
						<td class="">12</td>
						<td class="">Приход</td>
						<td class="">Основной контрагент</td>
						<td class="">Основной склад</td>
						<td class="green-text">12300</td>
						<td class="">Ярослава Даценко</td>					
					</tr>
					<tr>
							<td class=""><i class="icon icon-pointer-top"></i> 17.12.18 <span class="time-text">10:45</span></td>
							<td class="">1234</td>
							<td class="">Приход</td>
							<td class="">Основной контрагент</td>
							<td class="">Основной склад</td>
							<td class="red-text">-1300</td>
							<td class="">Ярослава Даценко</td>	
						</tr>
						<tr>
								<td class=""><i class="icon icon-cros-top"></i> 17.12.18 <span class="time-text">10:45</span></td>
								<td class="">123</td>
								<td class="">Приход</td>
								<td class="">Основной контрагент</td>
								<td class="">Основной склад</td>
								<td class="red-text">-1300</td>
								<td class="">Ярослава Даценко</td>	
							</tr>
						<tr>
							<td class=""><i class="icon icon-blue-pointer-right"></i> 17.12.18 <span class="time-text">10:45</span></td>
							<td class="">123</td>
							<td class="">Приход</td>
							<td class="">Основной контрагент</td>
							<td class="">Основной склад</td>
							<td class="green-text">1300</td>
							<td class="">Наталья Вязьмитинова</td>	
						</tr>
						<tr>
								<td class=""><i class="icon icon-gal-top"></i> 17.12.18 <span class="time-text">10:45</span></td>
								<td class="">123</td>
								<td class="">Приход</td>
								<td class="">Основной контрагент</td>
								<td class="">Основной склад</td>
								<td class="green-text">1300</td>
								<td class="">Наталья Вязьмитинова</td>	
						</tr>
						<tr>
							<td class=""><i class="icon icon-case-green"></i> 17.12.18 <span class="time-text">10:45</span></td>
							<td class="">123</td>
							<td class="">Приход</td>
							<td class="">Основной контрагент</td>
							<td class="">Основной склад</td>
							<td class="green-text">1300</td>
							<td class="">Наталья Вязьмитинова</td>	
						</tr>
				</tbody>
			</table>
			{% include "paging.html" %}
		</div>
		
	</div>

</main>

{% endblock %} 

	
