{% extends "template-width-swipe.html" %}	

{% block content %}	

<main class="employees-page">
	<div class="tools">
		
	</div>

	<div class="table-page">
		<div class="table-page__head">
			<div class="table-page__head_left">	
				<h1 class="title">Триггеры</h1>
				<button class="button green trans js-add-trigger">
						+ Создать триггер
				</button>
			</div>
			<div class="table-page__head_right">
				<div class="table-page__head_wrap">
					<div class="search-block">
						<input type="text" class="search" placeholder="Поиск по названию:">
						<button class="fa fa-search"></button>
					</div>
					<div class="table-page__filter-nav">						
						<div class="page-filter-wrap">
							<span class="page-filter-name">Показывать</span>
							<select class="swipe-select">
								<option data-display="10">10</option>
								<option value="1">20</option>
								<option value="2">30</option>									
								<option value="4">40</option>
							</select>
						</div>
					</div>
				</div>
			</div>				
		</div>
		
		<div class="schedule__body">
			<table class="schedule__content-column white">
				<thead class="schedule__content-column-head">
					<tr>
						<th class="sort w-10pr">
							id
							<span class="pointer-wrap">
								<i class="pointer_top sm"></i>
								<i class="pointer_bottom sm"></i>
							</span>	
						</th>
						<th class="sort w-30pr">
								Название
								<span class="pointer-wrap">
									<i class="pointer_top sm"></i>
									<i class="pointer_bottom sm"></i>
								</span>	
						</th>
						<th class="sort">
								событие
								<span class="pointer-wrap">
									<i class="pointer_top sm"></i>
									<i class="pointer_bottom sm"></i>
								</span>	
						</th>
						<th class="sort">
							Задержка
							<span class="pointer-wrap">
									<i class="pointer_top sm"></i>
									<i class="pointer_bottom sm"></i>
								</span>	
						</th>
						<th class="w-20pr sort">
							Действие
								<span class="pointer-wrap">
									<i class="pointer_top sm"></i>
									<i class="pointer_bottom sm"></i>
								</span>	
						</th>
						<th class="sort w-10pr">
							Статус
								<span class="pointer-wrap">
									<i class="pointer_top sm"></i>
									<i class="pointer_bottom sm"></i>
								</span>	
						</th>						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							Напоминание за 1 день до визита					
						</td>
						<td>
							Новая запись
						</td>
						<td>			
							
						</td>
						<td>
							Отправить SMS
						</td>
						<td >
						<label class="shut" for="">выкл.</label></td>									
					</tr>
					
						<tr>
							<td>
								12345
							</td>
							<td>
								Напоминание за 1 день до визита					
							</td>
							<td>
									Новая запись
								</td>
							<td>			
								
							</td>
							<td>
								Отправить SMS
							</td>
							<td >
									<label class="incl" for="">	вкл.</label>
							</td>									
						</tr>
				</tbody>
			</table>
			{% include "paging.html" %}
		</div>
		
	</div>

</main>

{% endblock %} 

	
